<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @flow.value %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @flow.plant %>
</p>

<%= link_to 'Edit', edit_flow_path(@flow) %> |
<%= link_to 'Back', flows_path %>
