<style>
  .view_info__title {
    color: #333 !important;
    font-size: 1.1em;
    margin-bottom: 0;
  }

  .view_info__data {
    font-size: .9em;
    margin-top: 0;
  }
</style>

<h1><%= t(:notification_title, scope: :alert, text: @alert.subject) %></h1>


<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:incident_type_id, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= t(@alert.incident_type.name.parameterize(separator: '_'), scope: [:activerecord, :attributes, :incident_type, :incident_types]) %></p>
</div>

<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:status_id, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= t(@alert.status.name.parameterize(separator: '_'), scope: [:activerecord, :attributes, :status, :statuses]) %></p>
</div>

<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:priority_id, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= t(@alert.priority.name.parameterize(separator: '_'), scope: [:activerecord, :attributes, :priority, :priorities]) %></p>
</div>

<% if @alert.incident_description.present? %>
<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:incident_description, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= @alert.incident_description %></p>
</div>
<% end %>

<% if @alert.image.attached? %>
<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:image, scope: [:activerecord, :attributes, :alert]) %></p>
  <% if Rails.env.development? %>
  <%= image_tag @alert.image %>
  <% else %>
  <%= image_tag @alert.image.service_url&.split("?")&.first %>
  <% end %>
</div>
<% end %>

<% if @alert.negative_impact.present? %>
<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:negative_impact, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= @alert.negative_impact %></p>
</div>
<% end %>

<% if @alert.solution.present? %>
<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:solution, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= @alert.solution %></p>
</div>
<% end %>

<% if @alert.incident_resolution.present? %>
<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:incident_resolution, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= @alert.incident_resolution %></p>
</div>
<% end %>

<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:solution_target_date, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= l(@alert.solution_target_date, format: :long) %></p>
</div>


<div class="view_info">
  <p class="view_info__title" style="margin-bottom:0;"><%= t(:technician_hours_required, scope: [:activerecord, :attributes, :alert]) %></p>
  <p class="view_info__data" style="margin-top:0;"><%= @alert.technician_hours_required %></p>
</div>

<p style="text-align:center;"><%= link_to t(:review_ticket, scope: :alert), plant_alert_url(@user.locale, @alert.plant, @alert) %></p>
