<h1>Bounds</h1>

<table>
  <thead>
    <tr>
      <th>Standard</th>
      <th>Outlet</th>
      <th>From</th>
      <th>To</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bounds.each do |bound| %>
      <tr>
        <td><%= bound.standard %></td>
        <td><%= bound.outlet %></td>
        <td><%= bound.from %></td>
        <td><%= bound.to %></td>
        <td><%= bound.active %></td>
        <td><% if can? :read, Bound %><%= link_to 'Show', bound %><% end %></td>
        <td><% if can? :edit, Bound %><%= link_to 'Edit', edit_bound_path(bound) %><% end %></td>
        <td><% if can? :destroy, Bound %><%= link_to 'Destroy', bound, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Bound %>
<%= link_to 'New Bound', new_bound_path %>
<% end %>
