<% if can? :edit, Bound %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to t(:edit, scope: :global), edit_bound_path(@bound), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Bound</h2>

<p>
  <strong>Standard:</strong>
  <%= @bound.standard %>
</p>

<p>
  <strong>Outlet:</strong>
  <%= @bound.outlet %>
</p>

<p>
  <strong>From:</strong>
  <%= @bound.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @bound.to %>
</p>

<p>
  <strong>Active:</strong>
  <%= @bound.active %>
</p>
