<%= form_with(model: sampling_list, url: [@plant, sampling_list], local: true) do |form| %>
  <% if sampling_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sampling_list.errors.count, "error") %> prohibited this sampling_list from being saved:</h2>

      <ul>
      <% sampling_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field date">
    <%= form.label 'Grab Date' %>
    <%= form.date_select :date, order: [:month, :day, :year], end_year: Date.current.year, value: "1984-05-12" %>
  </div>

  <%= render 'shared/tables/elements_list', headers: ['Name', 'In (mg/l)', 'Out (mg/l)'] do %>
    <%= form.fields_for :samplings, @samplings do |sampling| %>
    <tr class="table_main__table-row--stripped">
      <%= sampling.hidden_field :id %>
      <td class="table_main__table-data--left-text"><%= sampling.object.standard.option.name %></td>
      <td class="table_main__table-data--padding"><%= sampling.number_field :value_in, class: 'table_main__input' %></td>
      <td class="table_main__table-data--padding"><%= sampling.number_field :value_out, class: 'table_main__input' %></td>
    </tr>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
