<%= form_with(model: sampling_list, url: [@plant, sampling_list], local: true) do |form| %>
  <% if sampling_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sampling_list.errors.count, "error") %> prohibited this sampling_list from being saved:</h2>

      <ul>
      <% sampling_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field date">
    <%= form.label 'Grab Date' %>
    <%= form.date_select :date, order: [:month, :day, :year], end_year: Date.current.year, value: "1984-05-12" %>
  </div>

  <div class="field">
    <%= form.label 'Sampling Type' %>
    <%= form.collection_select(:access_id, @accesses, :id, :name, {prompt: 'Select a Sampling Type'})  %>
  </div>

  <%= render 'shared/tables/elements_list', headers: ['Name', 'In (mg/l)', 'Out (mg/l)'] do %>
    <%= form.fields_for :samplings, @samplings do |sampling| %>
    <tr class="table_main__table-row--stripped">
      <%= sampling.fields_for :standard do |standard| %>
      <%= standard.fields_for :option do |option| %>
      <td class="table_main__table-data--left-text">
        <%= sampling.hidden_field :id %>
        <%= standard.hidden_field :id %>
        <%= option.hidden_field :id %>

        <%= standard.collection_select(:option_id, @options, :id, :name, {prompt: 'Select a Sampling Type'})  %>
      </td>
      <td class="table_main__table-data--padding"><%= sampling.number_field :value_in, class: 'table_main__input' %></td>
      <td class="table_main__table-data--padding"><%= sampling.number_field :value_out, class: 'table_main__input' %></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
