<%= form_with(model: sampling_list, url: [@plant, sampling_list], local: true) do |form| %>
  <% if sampling_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sampling_list.errors.count, "error") %> prohibited this sampling_list from being saved:</h2>

      <ul>
      <% sampling_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field date">
    <%= form.label 'Grab Date' %>
    <%= form.date_select :date, order: [:month, :day, :year], end_year: Date.current.year, value: "1984-05-12" %>
  </div>

  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>In (mg/l)</th>
        <th>Out (mg/l)</th>
      </tr>
      <%= form.fields_for :samplings, @samplings do |sampling| %>
      <tr>
        <%= sampling.hidden_field :id %>
        <td><%= sampling.object.standard.option.name %></td>
        <td><%= sampling.number_field :value_in %></td>
        <td><%= sampling.number_field :value_out %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
