<h2 class="main__title">Sampling Lists</h2>

<% if @sampling_lists.present? %>
<%= render 'shared/tables/elements_list', headers: ['Plant', 'Access', 'Frecuency', 'Per Cycle', 'Options'] do %>
<% @sampling_lists.each do |sampling_list| %>
  <tr class="table_main__table-row">
    <td class="table_main__table-data--left-text"><%= sampling_list.created_at.strftime('%B, %Y') %></td>
    <td class="table_main__table-data"><%= sampling_list.access.name %></td>
    <td class="table_main__table-data"><%= sampling_list.frecuency.name %></td>
    <td class="table_main__table-data"><%= sampling_list.per_cycle %></td>
    <td class="table_main__table-data--options">
      <a href="#" class="table_main__link--options"></a>
      <div class="options_menu">
        <ul class="options_menu__list">
          <% if can? :read, SamplingList %><li class="options_menu__item"><%= link_to 'Show', plant_sampling_list_path(@plant, sampling_list), class: 'options_menu__link' %></li><% end %>
          <% if can? :edit, SamplingList %><li class="options_menu__item"><%= link_to 'Edit', edit_plant_sampling_list_path(@plant, sampling_list), class: 'options_menu__link' %></li><% end %>
          <% if can? :destroy, SamplingList %><li class="options_menu__item"><%= link_to 'Destroy', plant_sampling_list_path(@plant, sampling_list), class: 'options_menu__link', method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
        </ul>
        <div class="unclick"></div>
      </div>
  </tr>
<% end %>
<% end %>
<% end %>
