<% if can? :edit, SamplingList %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_plant_sampling_list_path(@plant, @sampling_list), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title"><%= @sampling_list.access.name %> Sampling</h2>

<div class="view_info">
  <p class="view_info__data"><%= @sampling_list.date.to_s(:custom) %></p>
  <p class="view_info__title">Plant</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @sampling_list.access.name %></p>
  <p class="view_info__title">Access</p>
</div>

<%= render 'shared/tables/elements_list', headers: ['', 'In', 'Out', 'Grab Date'] do %>
  <% @samplings.each do |sampling| %>
  <tr class="table_main__table-row--stripped">
    <td class="table_main__table-data--left-text"><%= sampling.standard.option.name %></td>
    <td class="table_main__table-data"><%= sampling.value_in %></td>
    <td class="table_main__table-data"><%= sampling.value_out %></td>
    <td class="table_main__table-data"><%= sampling.value_in.present? && sampling.value_out.present? ? sampling.date.to_s(:custom) : '-' %></td>
  </tr>
  <% end %>
<% end %>
