<% if can? :edit, SamplingList %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_plant_sampling_list_path(@plant, @sampling_list), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Flows</h2>

<div class="view_info">
  <p class="view_info__data"><%= @sampling_list.created_at.strftime('%B, %Y') %></p>
  <p class="view_info__title">Plant</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @sampling_list.access.name %></p>
  <p class="view_info__title">Access</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @sampling_list.frecuency.name %></p>
  <p class="view_info__title">Frecuency</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @sampling_list.per_cycle %></p>
  <p class="view_info__title">Per Cycle</p>
</div>

<%= render 'shared/tables/elements_list', headers: ['', 'In', 'Out', 'Date Added'] do %>
  <% @samplings.each do |sampling| %>
  <tr class="table_main__table-row--stripped">
    <td class="table_main__table-data--left-text"><%= sampling.standard.option.name %></td>
    <td class="table_main__table-data"><%= sampling.value_in %></td>
    <td class="table_main__table-data"><%= sampling.value_out %></td>
    <td class="table_main__table-data"><%= sampling.updated_at.strftime('%m/%d/%y') %></td>
  </tr>
  <% end %>
<% end %>
