<% if can? :create, User %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to t(:new, scope: :user).downcase, new_user_path, class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title"><%= t(:index, scope: :user) %></h2>

<%= render 'shared/tables/elements_list', headers: ['', t(:name, scope: [:activerecord, :attributes, :user]), t(:lastname, scope: [:activerecord, :attributes, :user]), [t(:email, scope: [:activerecord, :attributes, :user]), 'email'], t(:role, scope: [:activerecord, :attributes, :user]), t(:options, scope: :global).camelcase], title: t(:all_users, scope: :user) do %>
<% @users.each do |user| %>
<tr class="table_main__table-row">
  <td class="table_main__table-data--confirmation"><%= status_icon(user).html_safe %></td>
  <td class="table_main__table-data--left-text"><%= user.name %></td>
  <td class="table_main__table-data"><%= user.lastname %></td>
  <td class="table_main__table-data--email"><%= user.email %></td>
  <td class="table_main__table-data"><%= user.role.humanize %></td>
  <td class="table_main__table-data--options">
    <a href="#" class="table_main__link--options"></a>
    <div class="options_menu">
      <ul class="options_menu__list">
        <% if can? :read, User %><li class="options_menu__item"><%= link_to t(:show, scope: :global), user, class: 'options_menu__link' %></li><% end %>
        <% if can? :edit, User %><li class="options_menu__item"><%= link_to t(:edit, scope: :global), edit_user_path(user), class: 'options_menu__link' %></li><% end %>
        <% if user.active? %>
        <% if can? :destroy, User %><li class="options_menu__item"><%= link_to t(:destroy, scope: :global), user, class: 'options_menu__link', method: :delete, data: { confirm: t(:confirm, scope: :global) } %></li><% end %>
        <% if !user.confirmed? %><li class="options_menu__item"><%= button_to t(:resend, scope: :user), user_confirmation_path, params: { user: {email: user.email} }, method: :post, remote: true, class: 'options_menu__link' %></li><% end %>
        <% end %>
      </ul>
      <div class="unclick"></div>
    </div>
  </td>
</tr>
<% end %>
<% end %>
