<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address01:</strong>
  <%= @user.address01 %>
</p>

<p>
  <strong>Address02:</strong>
  <%= @user.address02 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.humanize %>
</p>

<p><strong>Plants:</strong></p>
<ul>
  <% @user.plants.each do |plant| %>
    <li><%= plant.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
