<table class="table__stripped table table-striped table-bordered">
  <thead class="thead-dark">
    <% data[:headers].each_with_index do |headers, index| %>
    <tr>
    <% headers.each do |text| %>
      <% if index == 0 && text != '' %>
      <th scope="col" colspan="3" class="table__text-center"><%= text %></th>
      <% else %>
      <th scope="col" class="table__text-center"><%= text %></th>
      <% end %>
    <% end %>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% data[:data].map do |date, info| %>
    <tr>
      <th scope="row"><%= date %></th>
      <% info.map do |key, val| %>
      <td class="table__text-center"><%= val[:in] %></td>
      <td class="table__text-center"><%= val[:out] %></td>
      <td class="table__text-center"><%= val[:removal] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
