<p>
  <strong>Task:</strong>
  <%= @log_standard.task %>
</p>

<p>
  <strong>Frecuency:</strong>
  <%= @log_standard.frecuency %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @log_standard.plant %>
</p>

<p>
  <strong>Active:</strong>
  <%= @log_standard.active %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @log_standard.cycle %>
</p>

<p>
  <strong>Responsible Party:</strong>
  <%= @log_standard.responsible %>
</p>

<% if can? :edit, LogStandard %>
<%= link_to t(:edit, scope: :global), edit_log_standard_path(@log_standard) %>
<% end %>
