<% if @plant.persisted? %>
<nav class="desktop_nav">
  <ul class="desktop_nav__list">
    <% plant_menu = @menu[:plants] ? 'desktop_nav__item--active' : '' %>
    <li class="desktop_nav__item <%= plant_menu %>"><%= link_to t(:plant, scope: [:activerecord, :models]), plant_path(plant), class: 'desktop_nav__link nav_icon nav_icon_plant' %></li>

    <% ticket_menu = @menu[:tickets] ? 'desktop_nav__item--active' : '' %>
    <li class="desktop_nav__item <%= ticket_menu %>">
      <%= link_to t(:title, scope: :ticket).pluralize, '#', class: 'desktop_nav__link nav_icon nav_icon_tickets' %>
      <div class="desktop_nav__submenu">
        <ul class="desktop_nav__subul">
          <% if can? :read, Alert %>
          <li class="desktop_nav__subli">
            <div class="desktop_nav__sublink nav_icon nav_icon_alerts"><%= t(:alert, scope: [:activerecord, :models]).pluralize %></div>
            <ul class="desktop_nav__subul">
              <% active = @menu[:alerts] && @menu[:action] %>
              <li class="desktop_nav__subli <%= active == 'index' && 'desktop_nav__subli--active' %>"><%= link_to t(:history, scope: :alert), plant_alerts_path(@plant), class: 'desktop_nav__sublink' %></li>
              <% if can? :create, Alert %>
              <li class="desktop_nav__subli <%= active == 'new' && 'desktop_nav__subli--active' %>"><%= link_to t(:new, scope: :alert), new_plant_alert_path(@plant), class: 'desktop_nav__sublink' %></li>
              <% end %>
            </ul>
          </li>
          <% end %>

          <% if can? :read, Support %>
          <li class="desktop_nav__subli">
            <div class="desktop_nav__sublink nav_icon nav_icon_supports"><%= t(:support, scope: [:activerecord, :models]).pluralize %></div>
            <ul class="desktop_nav__subul">
              <% active = @menu[:supports] && @menu[:action] %>
              <li class="desktop_nav__subli <%= active == 'index' && 'desktop_nav__subli--active' %>"><%= link_to t(:history, scope: :support), plant_supports_path(@plant), class: 'desktop_nav__sublink' %></li>
              <% if can? :create, Support %>
              <li class="desktop_nav__subli <%= active == 'new' && 'desktop_nav__subli--active' %>"><%= link_to t(:new, scope: :support), new_plant_support_path(@plant), class: 'desktop_nav__sublink' %></li>
              <% end %>
            </ul>
          </li>
          <% end %>

          <% if can? :read, Inspection %>
          <li class="desktop_nav__subli">
            <div class="desktop_nav__sublink nav_icon nav_icon_inspections"><%= t(:plural, scope: :inspection) %></div>
            <ul class="desktop_nav__subul">
              <% active = @menu[:inspections] && @menu[:action] %>
              <li class="desktop_nav__subli <%= active == 'index' && 'desktop_nav__subli--active' %>"><%= link_to t(:history, scope: :inspection), plant_inspections_path(@plant), class: 'desktop_nav__sublink' %></li>
              <% if can? :create, Inspection %>
              <li class="desktop_nav__subli <%= active == 'new' && 'desktop_nav__subli--active' %>"><%= link_to t(:new, scope: :inspection), new_plant_inspection_path(@plant), class: 'desktop_nav__sublink' %></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <div class="unclick--desktop_menu"></div>
        </ul>
      </div>
    </li>

    <% if can? :read, Logbook %>
    <% logbook_menu = @menu[:logbooks] ? 'desktop_nav__item--active' : '' %>
    <li class="desktop_nav__item <%= logbook_menu %>">
      <%= link_to t(:title, scope: :logbook).pluralize, '#', class: 'desktop_nav__link nav_icon nav_icon_logbooks' %>
      <div class="desktop_nav__submenu">
        <ul class="desktop_nav__subul">
          <% active = @menu[:logbooks] && @menu[:action] %>
          <li class="desktop_nav__subli <%= active == 'edit' && 'desktop_nav__subli--active' %>"><%= link_to t(:title, scope: :logbook), logbook_plant_path(plant), class: 'desktop_nav__sublink' %></li>
          <li class="desktop_nav__subli <%= active == 'index' && 'desktop_nav__subli--active' %>"><%= link_to t(:history, scope: :logbook), plant_logbooks_path(plant), class: 'desktop_nav__sublink' %></li>
          <div class="unclick--desktop_menu"></div>
        </ul>
      </div>
    </li>
    <% end %>

  </ul>
</nav>
<% end %>
