<h1>Charts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shape</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charts.each do |chart| %>
      <tr>
        <td><%= chart.name %></td>
        <td><%= chart.shape %></td>
        <td><% if can? :read, Graph %><%= link_to t(:show, scope: :global), chart %><% end %></td>
        <td><% if can? :edit, Graph %><%= link_to t(:edit, scope: :global), edit_chart_path(chart) %><% end %></td>
        <td><% if can? :destroy, Graph %><%= link_to t(:destroy, scope: :global), chart, method: :delete, data: { confirm: t(:confirm, scope: :global) } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Chart %>
<%= link_to 'New Chart', new_chart_path %>
<% end %>
