<%= form_with(model: [@plant, logbook], builder: BFFormBuilder, local: true) do |form| %>
  <% if logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logbook.errors.count, "error") %> prohibited this logbook from being saved:</h2>

      <ul>
      <% logbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% date = nil %>

  <%= render 'shared/tables/elements_list', headers: [t(:task, scope: :logbook), t(:value, scope: :logbook)] do %>
    <% if @filtered_logs.any? %>
    <%= form.fields_for :logs, @filtered_logs do |log| %>
    <%= log.fields_for :task do |task| %>
    <%= task.fields_for :task_list do |task_list| %>
    <% if date.nil? || log.object.date != date %>
    <tr class="table_main__table-row--no-height">
      <td colspan="2" class="table_main__table-data--date">
        <% if log.object.date == @current_date %>
        Today
        <% else %>
        <%= l(log.object.date, format: :long) %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% date = log.object.date %>
    <tr class="table_main__table-row">
      <td class="table_main__table-data--left-text">
        <%= task.object.name %>
        <% if task.object.comment != '' %>
        <span class="table_main__table-data-span"><%= task.object.comment %><span>
        <% end %>
      </td>
      <% input_type = task.object.input_type %>
      <% class_name = input_type == 'number' ? 'field-wrap' : '' %>
      <td class="table_main__table-data <%= class_name %>">
        <%= log.hidden_field :id %>
        <%= log.hidden_field :date %>
        <%= log.hidden_field :task_id %>
        <%= log.hidden_field :logbook_id %>
        <%= task.hidden_field :id %>
        <%= task.hidden_field :task_list_id %>
        <%= task.hidden_field :name %>
        <%= task.hidden_field :comment %>
        <%= task_list.hidden_field :plant_id %>

        <% if input_type == 'checkbox' %>
        <%= log.check_box :value, { class: 'check' }, '1', '' %>
        <% elsif ['number'].include?(input_type) %>
        <%= log.bf_number_field :value, task.object.data_type, step: :any %>
        <% elsif input_type == 'date' %>
        <%= log.text_field :value, class: 'datepicker' %>
        <% elsif input_type == 'yes/no' %>
        <%= log.collection_radio_buttons(:value, [['Yes', 'Yes'],['No', 'No']], :first, :second) %>
        <% elsif input_type == 'Low/Medium/High Density' %>
        <%= log.collection_select(:value, [['Low', 'Low Density'],['Medium','Medium Density'],['High Density','High Density']], :first, :second, {prompt: 'Select an Alternative'})  %>
        <% elsif input_type == 'Low/Medium/Strong Odor' %>
        <%= log.collection_select(:value, [['Low', 'Low Odor'],['Medium','Medium Odor'],['Strong Odor','Strong Odor']], :first, :second, {prompt: 'Select an Alternative'})  %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    <tr class="table_main__table-row"><td colspan="2" class="table_main__table-data">Hurray!! No Tasks to do!</td></tr>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
