<%= form_with(model: [@plant, logbook], builder: BFFormBuilder, local: true) do |form| %>
  <% if logbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logbook.errors.count, "error") %> prohibited this logbook from being saved:</h2>

      <ul>
      <% logbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% date = nil %>

  <%= render 'shared/tables/elements_list', headers: [t(:task, scope: :logbook), t(:value, scope: :logbook)] do %>
    <% if @filtered_logs.any? %>
    <%= form.fields_for :logs, @filtered_logs do |log| %>
    <%= log.fields_for :task do |task| %>
    <%= task.fields_for :task_list do |task_list| %>
    <% if date.nil? || log.object.date != date %>
    <tr class="table_main__table-row--no-height">
      <td colspan="2" class="table_main__table-data--date">
        <% if log.object.date == @current_date %>
        <%= t(:today, scope: :global) %>
        <% else %>
        <%= l(log.object.date, format: :long) %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% date = log.object.date %>
    <tr class="table_main__table-row">
      <td class="table_main__table-data--left-text">
        <%= localize(task.object.i18n_name) %>
        <% if any_locale?(task.object.i18n_comment) %>
        <span class="table_main__table-data-span"><%= localize(task.object.i18n_comment) %><span>
        <% end %>
      </td>
      <% input_type = task.object.input_type %>
      <% class_name = input_type == 'number' ? 'field-wrap' : '' %>
      <td class="table_main__table-data <%= class_name %>">
        <%= log.hidden_field :id %>
        <%= log.hidden_field :date %>
        <%= log.hidden_field :task_id %>
        <%= log.hidden_field :logbook_id %>
        <%= task.hidden_field :id %>
        <%= task.hidden_field :task_list_id %>
        <%= task.hidden_field :i18n_name %>
        <%= task.hidden_field :i18n_comment %>
        <%= task_list.hidden_field :plant_id %>

        <% if input_type == 'checkbox' %>
        <%= log.check_box :value, { class: 'check' }, '1', '' %>
        <% elsif ['number'].include?(input_type) && task.object.data_type == '0-9' %>
        <%= log.collection_select(:value, @number_range, :first, :second, {prompt: t(:select_number, scope: :global)})  %>
        <% elsif ['number'].include?(input_type) %>
        <%= log.bf_number_field :value, task.object.data_type, step: :any %>
        <% elsif input_type == 'date' %>
        <%= log.text_field :value, class: 'datepicker' %>
        <% elsif input_type == 'yes/no' %>
        <%= log.collection_radio_buttons(:value, [['Yes', t(:_yes, scope: :global)],['No', t(:_no, scope: :global)]], :first, :second) %>
        <% elsif input_type == 'full/not_full' %>
        <%= log.collection_radio_buttons(:value, [['full', t(:full, scope: :global)],['not_full', t(:not_full, scope: :global)]], :first, :second) %>
        <% elsif input_type == 'Low/Medium/High Density' %>
        <%= log.collection_select(:value, [['Low', t(:low, scope: :density)],['Medium', t(:medium, scope: :density)],['High Density', t(:high, scope: :density)]], :first, :second, {prompt: t(:select_alt, scope: :global)})  %>
        <% elsif input_type == 'Low/Medium/Strong Odor' %>
        <%= log.collection_select(:value, [['Low', t(:low, scope: :odor)],['Medium', t(:medium, scope: :odor)],['Strong Odor',t(:strong, scope: :odor)]], :first, :second, {prompt: t(:select_alt, scope: :global)})  %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    <tr class="table_main__table-row"><td colspan="2" class="table_main__table-data"><%= t(:no_tasks_to_do, scope: :task) %></td></tr>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
