<h1>Logbooks</h1>

<table>
  <thead>
    <tr>
      <th>Plant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logbooks.each do |logbook| %>
      <tr>
        <td><%= logbook.created_at.to_date.strftime('%B, %Y') %></td>
        <td><% if can? :read, Logbook %><%= link_to 'Show', [@plant, logbook] %><% end %></td>
        <td><% if can? :edit, Logbook %><%= link_to 'Edit', edit_plant_logbook_path(@plant, logbook) %><% end %></td>
        <td><% if can? :destroy, Logbook %><%= link_to 'Destroy', [@plant, logbook], method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Logbook %>
<%= link_to 'New Logbook', new_plant_logbook_path(@plant) %>
<% end %>
