<%= form_with(model: plant, url: [@company, plant], local: true, multiple: true, builder: BFFormBuilder) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if plant.cover.attached? %>
  <p>
    <%= image_tag plant.cover.variant(resize: '400'), class: 'img-fluid' %>
  </p>
  <% end %>

  <div class="field">
    <%= form.label 'Image Cover' %>
    <%= form.file_field :cover %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :address01 %>
    <%= form.text_field :address01 %>
  </div>

  <div class="field">
    <%= form.label :address02 %>
    <%= form.text_field :address02 %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="field no-border">
    <%= form.label :country_id %>
    <%= form.collection_select(:country_id, @countries, :id, :name, {prompt: 'Select a Country'})  %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field no-border date">
    <%= form.label :startup_date %>
    <%= form.date_select :startup_date %>
  </div>

  <div class="field no-border">
    <%= form.label 'Plant Contact' %>
    <%= form.collection_select(:contact_id, @users, :id, :full_name, {prompt: 'Select a Company Contact'})  %>
  </div>

  <div class="field no-border">
    <%= form.label 'BioFiltro Contact' %>
    <%= form.collection_select(:bf_contact_id, @users, :id, :full_name, {prompt: 'Select a BioFiltro Contact'})  %>
  </div>

  <div class="field">
    <%= form.label :system_size %>

    <div class="system_size">
      <ul class="system_size__elements">
      <%= render 'system_size', plant: @plant %>
      </ul>
      <div class="system_size__bottom">
        <a href="#" class="system_size__plus">+</a>
      </div>
    </div>

    <%= form.label 'Total Size of the modules' %>
    <%= form.bf_value_field 'plant_system_size_total', @plant.country.metric.area, value: @plant.system_size.reduce(:+) %>
    <%= form.hidden_field :system_size %>
  </div>

  <div class="field">
    <%= form.label :flow_design %>
    <%= form.bf_value_field :flow_design, "m&sup3;" %>

  </div>

  <div class="field no-border">
    <%= form.label :discharge_point_id %>
    <%= form.collection_select(:discharge_point_id, @points, :id, :name, {prompt: 'Select a Discharge Point'})  %>
  </div>

  <div class="field">
    <%= form.label :system_purpose %>
    <%= form.text_area :system_purpose %>
  </div>

  <div class="field">
    <%= form.label :report_preface %>
    <%= form.text_area :report_preface %>
  </div>

  <div class="field">
    <h3>Standards</h3>
    <table class="table-standards">
      <tr>
        <th>Active</th>
        <th>Name</th>
        <th class="col_span__range">Is Range</th>
        <th colspan="2">In</th>
        <th colspan="2">Out</th>
      </tr>
    <%= form.fields_for :standards do |standard| %>
      <tr>
        <td><%= standard.check_box :enabled, class: "standard", data: { "target" => standard.object.option.name.parameterize.underscore } %></td>
        <td>
          <%= standard.label standard.object.option.name %>
          <%= standard.hidden_field :option_id, value: standard.object.option.id %>
        </td>
        <td class="col_span__range"><%= standard.check_box :isRange, class: 'check' %></td>
        <%= standard.fields_for :bounds do |bound| %>
        <% if standard.object.isRange %>
        <td class="col_span">
        <% else %>
        <td colspan="2" class="col_span">
        <% end %>
          <%= bound.hidden_field :outlet_id, value: bound.object.outlet.id %>
          <%= bound.text_field :from, placeholder: 'Number', class: "responsive #{bound.object.outlet.name.parameterize.underscore}_from" %>
        </td>
        <% if standard.object.isRange %>
        <td class="col_span__option">
        <% else %>
        <td class="col_span__option--hidden">
        <% end %>
          <%= bound.hidden_field :outlet_id, value: bound.object.outlet.id %>
          <%= bound.text_field :to, placeholder: 'Number', class: "responsive #{bound.object.outlet.name.parameterize.underscore}_to" %>
        </td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <input class="toggle_checkbox" type="checkbox" name="toggle_checkbox" checked="checked">
    <label for="toggle_checkbox">Toggle Active</label>
  </div>

  <div class="field">
    <%= form.label 'Discharge Permit' %>
    <%= form.file_field :discharge_permit %>

    <% if plant.discharge_permit.attached? %>
    <%= link_to rails_blob_path(plant.discharge_permit, disposition: :attachment), class: 'text-icon' do %>
      <%= render 'shared/icons/document' %> <%= plant.discharge_permit.filename %>
    <% end %>
    <% end %>
  </div>

    <%= form.fields_for :sampling_lists, @samplings do |sampling_list| %>
    <div class="field">
      <h3><%= sampling_list.hidden_field :access_id, value: sampling_list.object.access.id %><%= sampling_list.object.access.name %> Samplings</h3>

      <ul class="<%= sampling_list.object.access.name.parameterize.underscore %>_samplings">
        <li class="hide no_standards">No Standard Selected</li>
        <% sampling_list.object.samplings.each do |sampling| %>
        <li class="<%= sampling.standard.option.name.parameterize.underscore %> <%= 'hide' unless sampling.standard.enabled || @is_new %>">
          <input type="checkbox"
            name="<%= sampling.sampling_list.access.name.parameterize.underscore %>[<%= sampling.standard.option.name.parameterize.underscore %>]"
            <%= 'checked' if sampling.persisted? || @is_new %>>
            <%= sampling.standard.option.name %>
        </li>
        <% end %>
      </ul>

      <div class="field no-border">
        <%= form.label :frecuency_id %>
        <%= sampling_list.collection_select(:frecuency_id, @frecuencies, :id, :name, {prompt: 'Select a Frecuency'})  %>
      </div>

      <div class="field">
        <%= form.label :per_cycle %>
        <%= sampling_list.number_field :per_cycle, placeholder: 'Number' %>
      </div>
    </div>
    <% end %>

    <%= render 'shared/tables/elements_list', headers: %w(Active Task Options), title: 'Logbook' do %>
      <%= form.fields_for :current_log_standards, @current_log_standards do |current_log| %>
      <%= current_log.fields_for :log_standard do |log_standard| %>
      <tr class="table_main__table-row">
        <td class="table_main__table-data--left-text"><%= log_standard.check_box :active %></td>
        <td class="table_main__table-data--left-text">
          <span class="span_name"><%= log_standard.object.name %><%= log_standard.hidden_field :task_id %></span>
          <%= current_log.hidden_field :id %>
          <%= current_log.hidden_field :plant_id %>
          <%= current_log.hidden_field :frecuency, class: 'frecuency' %>
          <%= current_log.hidden_field :cycle, class: 'cycle' %>

          <%= log_standard.hidden_field :id %>
          <%= log_standard.hidden_field :plant_id %>
          <%= log_standard.hidden_field :name, class: 'name' %>
          <%= log_standard.hidden_field :season, class: 'season' %>
          <%= log_standard.hidden_field :comment, class: 'comment' %>
          <%= log_standard.hidden_field :responsible, class: 'responsible' %>
        </td>
        <td class="table_main__table-data--options">
          <a href="#" class="table_main__link--options"></a>
          <div class="options_menu">
            <ul class="options_menu__list">
              <% if can? :read, Task %><li class="options_menu__item"><%= link_to 'show', '#', class: 'options_menu__link--modal-show' %></li><% end %>
              <% if can? :edit, Task %><li class="options_menu__item"><%= link_to 'edit', '#', class: 'options_menu__link--modal-edit' %></li><% end %>
              <% if can? :destroy, Task %><li class="options_menu__item"><%= link_to 'destroy', '#', class: 'options_menu__link--modal-destroy' %></li><% end %>
            </ul>
            <div class="unclick"></div>
          </div>
        </td>
      </tr>
      <% end %>
      <% end %>
    <% end %>

  <div class="field  no-border">
    <%= form.label 'Logbook BF Assigned Operator' %>
    <%= form.collection_select(:logbook_bf_responsible_id, @users, :id, :full_name, {prompt: 'Select a Logbook BF Assigned Operator'})  %>
  </div>

  <div class="field  no-border">
    <%= form.label 'Logbook BF Supervisor' %>
    <%= form.collection_select(:logbook_bf_supervisor_id, @users, :id, :full_name, {prompt: 'Select a Logbook BF Supervisor'})  %>
  </div>

  <div class="field  no-border">
    <%= form.label 'Logbook Company Manager' %>
    <%= form.collection_select(:logbook_company_responsible_id, @users, :id, :full_name, {prompt: 'Select a Logbook Company Manager'})  %>
  </div>

  <h3>Graphs</h3>
  <ul>
  <%= form.fields_for :graph_standards, @graph_standards do |graph_standard| %>
  <%= graph_standard.fields_for :charts do |chart| %>
    <li><%= graph_standard.check_box :show %> <%= graph_standard.object.chart.name %> <%= graph_standard.hidden_field :chart_id %></li>
  <% end %>
  <% end %>
  </ul>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
