<%= form_with(model: plant, url: [@company, plant], local: true, multiple: true, builder: BFFormBuilder) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if plant.cover.attached? %>
  <p>
    <%= image_tag plant.cover.variant(resize: '400'), class: 'img-fluid' %>
  </p>
  <% end %>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :address01 %>
    <%= form.text_field :address01 %>
  </div>

  <div class="field">
    <%= form.label :address02 %>
    <%= form.text_field :address02 %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="field no-border">
    <%= form.label :country_id %>
    <%= form.collection_select(:country_id, @countries, :id, :name, {prompt: 'Select a Country'})  %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field no-border date">
    <%= form.label :startup_date %>
    <%= form.date_select :startup_date %>
  </div>

  <div class="field no-border">
    <%= form.label :contact_id %>
    <%= form.collection_select(:contact_id, @users, :id, :full_name, {prompt: 'Select a Company Contact'})  %>
  </div>

  <div class="field no-border">
    <%= form.label :bf_contact_id %>
    <%= form.collection_select(:bf_contact_id, @users, :id, :full_name, {prompt: 'Select a BioFiltro Contact'})  %>
  </div>

  <div class="field">
    <%= form.label :system_size %>

    <div class="system_size">
      <ul class="system_size__elements">
      <%= render 'system_size', plant: @plant %>
      </ul>
      <div class="system_size__bottom">
        <a href="#" class="system_size__plus">+</a>
      </div>
    </div>

    <%= form.label t(:total_modules_size, scope: [:activerecord, :attributes, :plant]) %>
    <%= form.bf_value_field 'plant_system_size_total', @plant.country.metric.area, value: @plant.system_size.reduce(:+) %>
    <%= form.hidden_field :system_size %>
  </div>

  <div class="field">
    <%= form.label :flow_design %>
    <%= form.bf_value_field :flow_design, "m&sup3;" %>

  </div>

  <div class="field no-border">
    <%= form.label :discharge_point_id %>
    <%= form.collection_select(:discharge_point_id, @points, :first, :second, {prompt: 'Select a Discharge Point'})  %>
  </div>

  <div class="field">
    <%= form.label :system_purpose %>
    <%= form.text_area :system_purpose %>
  </div>

  <div class="field">
    <%= form.label :report_preface %>
    <%= form.text_area :report_preface %>
  </div>

  <!-- <div class="field">
    <h3>Standards</h3>
    <table class="table-standards">
      <tr>
        <th>External?</th>
        <th>Name</th>
        <th class="col_span__range">Is Range</th>
        <th colspan="2">In</th>
        <th colspan="2">Out</th>
      </tr>
    <%#= form.fields_for :standards, @standards do |standard| %>
    <%#= standard.fields_for :option do |option| %>
      <tr>
        <td><%#= standard.check_box :enabled, class: "standard", data: { "target" => option.object.name.parameterize.underscore } %></td>
        <td>
          <%#= standard.hidden_field :id %>
          <%#= option.hidden_field :id %>
          <%#= standard.label option.object.name %>
        </td>
        <td class="col_span__range"><%#= standard.check_box :isRange, class: 'check' %></td>
        <%#= standard.fields_for :bounds do |bound| %>
        <%#= bound.fields_for :outlet do |outlet| %>
        <%# if standard.object.isRange %>
        <td class="col_span">
        <%# else %>
        <td colspan="2" class="col_span">
        <%# end %>
          <%#= bound.hidden_field :id %>
          <%#= outlet.hidden_field :id %>
          <%#= bound.text_field :from, placeholder: 'Number', class: "responsive #{outlet.object.name.parameterize.underscore}_from" %>
        </td>
        <%# if standard.object.isRange %>
        <td class="col_span__option">
        <%# else %>
        <td class="col_span__option--hidden">
        <%# end %>
          <%#= bound.hidden_field :id %>
          <%#= outlet.hidden_field :id %>
          <%#= bound.text_field :to, placeholder: 'Number', class: "responsive #{outlet.object.name.parameterize.underscore}_to" %>
        </td>
        <%# end %>
        <%# end %>
      </tr>
    <%# end %>
    <%# end %>
    </table>
    <input class="toggle_checkbox" type="checkbox" name="toggle_checkbox" checked="checked">
    <label for="toggle_checkbox">Toggle Active</label>
  </div> -->

  <!-- <div class="field">
    <%#= form.label 'Discharge Permit' %>
    <%#= form.file_field :discharge_permit %>

    <%# if plant.discharge_permit.attached? %>
    <%#= link_to rails_blob_path(plant.discharge_permit, disposition: :attachment), class: 'text-icon' do %>
      <%#= render 'shared/icons/document' %> <%#= plant.discharge_permit.filename %>
    <%# end %>
    <%# end %>
  </div> -->

    <%#= form.fields_for :sampling_lists, @sampling_lists_filtered do |sampling_list| %>
    <%#= sampling_list.fields_for :access do |_access| %>
    <!-- <div class="field">
      <h3><%#= _access.hidden_field :id %><%#= _access.object.name %> Samplings</h3>

      <div class="field no-border">
        <%#= form.label :frecuency_id %>
        <%#= sampling_list.collection_select(:frecuency_id, @frecuencies, :first, :second, {prompt: 'Select a Frecuency'})  %>
      </div>

      <div class="field">
        <%#= form.label :per_cycle %>
        <%#= sampling_list.number_field :per_cycle, placeholder: 'Number' %>
      </div>
    </div> -->
    <%# end %>
    <%# end %>

    <!-- Tasks & Task Lists -->
    <%= render 'shared/tables/elements_list', headers: [t(:active, scope: :global).camelcase, t(:task, scope: [:activerecord, :models]).pluralize, t(:options, scope: :global).camelcase], title: 'Logbook', css_class: 'logbook' do %>
      <%= form.fields_for :task_lists, @task_list do |task_list| %>
      <%= task_list.fields_for :tasks, @tasks do |task| %>
      <tr class="table_main__table-row">
        <td class="table_main__table-data--left-text"><%= task.check_box :active %></td>
        <td class="table_main__table-data--left-text">
          <%= render 'shared/hidden_task_fields', task: task, task_list: task_list %>
          <span class="span_name"><%= task.object.name %></span>
        </td>
        <td class="table_main__table-data--options">
          <a href="#" class="table_main__link--options"></a>
          <div class="options_menu">
            <ul class="options_menu__list">
              <% if can? :read, Task %><li class="options_menu__item"><%= link_to t(:show, scope: :global), '#', class: 'options_menu__link--modal-show' %></li><% end %>
              <% if can? :edit, Task %><li class="options_menu__item"><%= link_to t(:edit, scope: :global), '#', class: 'options_menu__link--modal-edit' %></li><% end %>
              <% if can? :destroy, Task %><li class="options_menu__item"><%= link_to t(:destroy, scope: :global), '#', class: 'options_menu__link--modal-destroy', data: { confirm: t(:confirm, scope: :global) } %></li><% end %>
            </ul>
            <div class="unclick"></div>
          </div>
        </td>
      </tr>
      <% end %>
      <% end %>
    <% end %>

    <div class="add_task__bottom">
      <a href="#" class="add_task__plus">+</a>
    </div>

  <div class="field  no-border">
    <%= form.label :logbook_bf_responsible_id %>
    <%= form.collection_select(:logbook_bf_responsible_id, @users, :id, :full_name, {prompt: 'Select a Logbook BF Assigned Operator'})  %>
  </div>

  <div class="field  no-border">
    <%= form.label :logbook_bf_supervisor_id %>
    <%= form.collection_select(:logbook_bf_supervisor_id, @users, :id, :full_name, {prompt: 'Select a Logbook BF Supervisor'})  %>
  </div>

  <div class="field  no-border">
    <%= form.label :logbook_company_responsible_id %>
    <%= form.collection_select(:logbook_company_responsible_id, @users, :id, :full_name, {prompt: 'Select a Logbook Company Manager'})  %>
  </div>

  <!-- <h3>Graphs</h3>
  <ul>
  <%#= form.fields_for :graph_standards, @graph_standards do |graph_standard| %>
  <%#= graph_standard.fields_for :charts do |chart| %>
    <li><%#= graph_standard.check_box :show %> <%#= graph_standard.object.chart.name %> <%#= graph_standard.hidden_field :chart_id %></li>
  <%# end %>
  <%# end %>
  </ul> -->

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
