<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.code %></td>
        <td><% if can? :read, Plant %><%= link_to 'Show', plant %><% end %></td>
        <td><% if can? :edit, Plant %><%= link_to 'Edit', edit_plant_path(plant) %><% end %></td>
        <td><% if can? :destroy, Plant %><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
