<% if @plant.cover.attached? %>
<p>
  <%= image_tag @plant.cover.variant(resize: '2280'), class: 'img-fluid' %>
</p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @plant.code %>
</p>

<p>
  <strong>Address01:</strong>
  <%= @plant.address01 %>
</p>

<p>
  <strong>Address02:</strong>
  <%= @plant.address02 %>
</p>

<p>
  <strong>State:</strong>
  <%= @plant.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @plant.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @plant.country.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @plant.phone %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @plant.discharge_point.name %>
</p>

<p>
  <strong>System Size:</strong>
  <%= @plant.system_size.sum %> <%= @plant.metrics.volume.pluralize(@plant.system_size.sum) %>
</p>

<p>
  <strong>Flow design:</strong>
  <%= @plant.flow_design %> <%= @plant.flow_design > 1 ? @plant.metrics.volume.pluralize : @plant.metrics.volume %> per day.
</p>

<% if @plant.discharge_permit.attached? %>
<p>
  <strong>Discharge Permit:</strong>
  <%= link_to rails_blob_path(@plant.discharge_permit, disposition: :attachment), class: 'text-icon' do %>
  <%= render 'shared/icons/document' %> <%= @plant.discharge_permit.filename %>
  <% end %>
</p>
<% end %>

<p>
  <strong>System Purpose:</strong>
  <%= @plant.system_purpose %>
</p>

<p>
  <strong>Report Preface:</strong>
  <%= @plant.report_preface %>
</p>

<h2 class="cell_division">Standards</h2>

<div class="field standards">
  <table class="standards__view">
    <tr>
      <th class="standard__th">Active</th>
      <th>Name</th>
      <th colspan="2" class="standards__th">In</th>
      <th colspan="2" class="standards__th">Out</th>
    </tr>
  <% @standards.each do |standard| %>
    <% if (standard.enabled) %>
    <tr>
      <td><input type="checkbox" name="<%= standard.option.name %>" checked="true" disabled></td>
      <td><%= standard.option.name %></td>
      <% standard.bounds.each do |bound| %>
      <% if standard.isRange %>
      <td><%= bound.from %></td>
      <td><%= bound.to %></td>
      <% else %>
      <td colspan="2" class="standards__th"><%= bound.from %></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>

<% @sampling_lists.each do |sampling_list| %>
<div class="field">
  <h3><%= sampling_list.access.name %> Samplings</h3>
  <ul>
  <% sampling_list.samplings.each do |sampling| %>
    <li><input type="checkbox" name="standards[<%= sampling.standard.option.name %>]" value="1" checked disabled> <%= sampling.standard.option.name %></li>
  <% end %>
  </ul>
</div>
<% end %>

<h2 class="cell_division">Logbook</h2>

<table>
  <tbody>
    <tr>
      <th>Active</th>
      <th>Task</th>
      <th>Frecuency</th>
      <th>Cycle</th>
      <th>Responsible</th>
    </tr>
    <% current_id = 0 %>
    <% @log_standards.each do |log| %>
      <% if current_id != log.task.log_type.id %>
      <tr><td colspan="5" class="cell_division"><%= log.task.log_type.name %></td></tr>
      <% end %>
      <% current_id = log.task.log_type.id %>
    <tr>
      <td><input type="checkbox" name="active" value="Boat" <%= 'checked' if log.active %> disabled></td>
      <td><%= log.task.name %></td>
      <td><%= log.frecuency.name %></td>
      <td><%= log.cycle %></td>
      <td><%= @responsibles[log.responsible][1] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Logbook BF Responsible:</strong>
  <%= @plant.logbook_bf_responsible&.full_name %>
</p>

<p>
  <strong>Logbook BF Supervisor:</strong>
  <%= @plant.logbook_bf_supervisor&.full_name %>
</p>

<p>
  <strong>Logbook Company Responsible:</strong>
  <%= @plant.logbook_company_responsible&.full_name %>
</p>

<p>
  <strong>Startup date:</strong>
  <%= @plant.startup_date %>
</p>

<p>
  <strong>Company Contact:</strong>
  <%= @plant.contact&.full_name %>
</p>

<p>
  <strong>BF Contact:</strong>
  <%= @plant.bf_contact&.full_name %>
</p>

<% if can? :edit, Plant %>
<%= link_to 'Edit', edit_plant_path(@plant) %>
<% end %>
