<% if @plant.cover.attached? %>
<p>
  <%= image_tag @plant.cover_hero, class: 'img-fluid' %>
</p>
<% end %>

<% if can? :edit, Plant %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_plant_path(@plant), class: 'option-button__option-link' %></li>
    <li class="option-button__separator"></li>
    <% if can? :destroy, Plant %>
    <li class="option-button__option"><%= link_to 'Destroy', @plant, class: 'option-button__option-link', method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  <% end %>
<% end %>

<h2 class="main__titles"><%= @plant.name %></h2>
<h3 class="main__subtitle">Plant</h3>

<div class="view_info">
  <p class="view_info__data"><%= @plant.code %></p>
  <p class="view_info__title">Code</p>
</div>

<div class="view_info">
  <% if @plant.address02.present? %>
  <p class="view_info__data--two-lines"><%= @plant.address01 %></p>
  <p class="view_info__data"><%= @plant.address02 %></p>
  <% else %>
  <p class="view_info__data"><%= @plant.address01 %></p>
  <% end %>
  <p class="view_info__title">Address</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.state %></p>
  <p class="view_info__title">State</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.zip %></p>
  <p class="view_info__title">Zip</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.country.name %></p>
  <p class="view_info__title">Country</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.phone %></p>
  <p class="view_info__title">Phone</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.startup_date.to_s(:english) %></p>
  <p class="view_info__title">Startup Date</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.contact&.full_name %></p>
  <p class="view_info__title">Company Contact</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.bf_contact&.full_name %></p>
  <p class="view_info__title">BioFiltro Contact</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.discharge_point.name %></p>
  <p class="view_info__title">Discharge Point</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.system_size.sum %> <%= @plant.metrics.area.pluralize(@plant.system_size.sum) %></p>
  <p class="view_info__title">System Size</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.flow_design %> <%= @plant.flow_design > 1 ? @plant.metrics.volume.pluralize : @plant.metrics.volume %> per day.</p>
  <p class="view_info__title">Flow Design</p>
</div>

<% if @plant.discharge_permit.attached? %>
<div class="view_info">
  <p class="view_info__data">
    <%= link_to @plant.discharge_permit, class: 'text-icon', download: true do %>
    <%= render 'shared/icons/document' %>
      <%= @plant.discharge_permit.filename %>
    <% end %>
  </p>
  <p class="view_info__title">Discharge Permit</p>
</div>
<% end %>

<div class="view_info">
  <p class="view_info__data"><%= @plant.system_purpose %></p>
  <p class="view_info__title">System Purpose</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.report_preface %></p>
  <p class="view_info__title">Report Preface</p>
</div>

<div class="space"></div>

<div class="highseason <%= @plant.high_season ? 'active' : '' %>">

  <h2 class="cell_division">High Season</h2>

  <label class="switch">
    <input type="checkbox" <%= @plant.high_season ? 'checked' : '' %> class="highseason__input">
    <span class="slider round"></span>
  </label>
</div>

<div class="space"></div>

<h2 class="cell_division">Standards</h2>

<div class="field standards">
  <table class="standards__view">
    <tr>
      <th class="standard__th">Active</th>
      <th>Name</th>
      <th colspan="2" class="standards__th">In</th>
      <th colspan="2" class="standards__th">Out</th>
    </tr>
  <% @standards.each do |standard| %>
    <% if (standard.enabled) %>
    <tr>
      <td><input type="checkbox" name="<%= standard.option.name %>" checked="true" disabled></td>
      <td><%= standard.option.name %></td>
      <% standard.bounds.each do |bound| %>
      <% if standard.isRange %>
      <td><%= bound.from %></td>
      <td><%= bound.to %></td>
      <% else %>
      <td colspan="2" class="standards__th"><%= bound.from %></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>

<% @samplings.each do |all_samplings| %>
<% all_samplings.each do |key, samplings| %>
  <div class="field">
    <h3><%= key %> Samplings</h3>
    <ul>
    <% samplings.each do |sampling| %>
      <li><input type="checkbox" name="standards[<%= sampling.standard.option.name %>]" value="1" checked disabled> <%= sampling.standard.option.name %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<h2 class="cell_division">Logbook</h2>

<%= render 'shared/tables/elements_list', headers: ['Task', 'Responsible Party'] do %>
<% @current_log_standards.each do |log| %>
<tr class="table_main__table-row">
  <td class="table_main__table-data--left-text"><input type="checkbox" name="active" value="Boat" <%= 'checked' if log.log_standard.active %> disabled> <%= log.log_standard.name %></td>
  <td class="table_main__table-data"><%= @responsibles[log.log_standard.responsible][1] %></td>
</tr>
<% end %>
<% end %>

<div class="view_info">
  <p class="view_info__data"><%= @plant.logbook_bf_responsible&.full_name %></p>
  <p class="view_info__title">Logbook BioFiltro Assigned Operator</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.logbook_bf_supervisor&.full_name %></p>
  <p class="view_info__title">Logbook BioFiltro Supervisor</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.logbook_company_responsible&.full_name %></p>
  <p class="view_info__title">Logbook Company Manager</p>
</div>

<h3>Graphs</h3>
<ul>
  <% @graph_standards.each do |graph| %>
  <li>
    <input type="checkbox" name="active" value="Boat" <%= 'checked' if graph.show %> disabled>
    <%= graph.chart.name %>
  </li>
  <% end %>
</ul>
