<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @plant.code %>
</p>

<p>
  <strong>Address01:</strong>
  <%= @plant.address01 %>
</p>

<p>
  <strong>Address02:</strong>
  <%= @plant.address02 %>
</p>

<p>
  <strong>State:</strong>
  <%= @plant.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @plant.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @plant.country.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @plant.phone %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @plant.discharge_point.name %>
</p>

<p>
  <strong>System Size:</strong>
  <%= @plant.system_size.sum %> <%= @plant.system_size.sum > 1 ? @plant.metrics.volume.pluralize : @plant.metrics.volume %>
</p>

<p>
  <strong>Flow design:</strong>
  <%= @plant.flow_design %> <%= @plant.flow_design > 1 ? @plant.metrics.volume.pluralize : @plant.metrics.volume %> per day.
</p>

<h2 class="cell_division">Standards</h2>

<div class="field standards">
  <table class="standards__view">
    <tr>
      <th class="standard__th">Active</th>
      <th>Name</th>
      <th colspan="2" class="standards__th">In</th>
      <th colspan="2" class="standards__th">Out</th>
    </tr>
  <% @standards.each do |standard| %>
    <% if (standard.enabled) %>
    <tr>
      <td><input type="checkbox" name="<%= standard.option.name %>" checked="true" disabled></td>
      <td><%= standard.option.name %></td>
      <% standard.bounds.each do |bound| %>
      <% if standard.isRange %>
      <td><%= bound.from %></td>
      <td><%= bound.to %></td>
      <% else %>
      <td colspan="2" class="standards__th"><%= bound.from %></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>

<% @sampling_lists.each do |sampling_list| %>
<div class="field">
  <h3><%= sampling_list.access.name %> Samplings</h3>
  <ul>
  <% sampling_list.samplings.each do |sampling| %>
    <li><input type="checkbox" name="standards[<%= sampling.standard.option.name %>]" value="1" checked disabled> <%= sampling.standard.option.name %></li>
  <% end %>
  </ul>
</div>
<% end %>

<h2 class="cell_division">Logbook</h2>

<table>
  <tbody>
    <tr>
      <th>Active</th>
      <th>Task</th>
      <th>Frecuency</th>
      <th>Cycle</th>
      <th>Responsible</th>
    </tr>
    <% current_id = 0 %>
    <% @log_standards.each do |log| %>
      <% if current_id != log.task.log_type.id %>
      <tr><td colspan="5" class="cell_division"><%= log.task.log_type.name %></td></tr>
      <% end %>
      <% current_id = log.task.log_type.id %>
    <tr>
      <td><input type="checkbox" name="active" value="Boat" <%= 'checked' if log.active %> disabled></td>
      <td><%= log.task.name %></td>
      <td><%= log.frecuency.name %></td>
      <td><%= log.cycle %></td>
      <td><%= @responsibles[log.responsible][1] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Startup date:</strong>
  <%= @plant.startup_date %>
</p>

<p>
  <strong>Company Contact:</strong>
  <%= @plant.contact&.full_name %>
</p>

<p>
  <strong>BF Contact:</strong>
  <%= @plant.bf_contact&.full_name %>
</p>

<h2 class="cell_division">Alerts</h2>
  <ul>
  <% @alerts.each do |alert| %>
  <li>
    <span><%= alert.title %></span>
    <span><%= link_to 'Show', plant_alert_path(@plant, alert) %></span>
    <span><%= link_to 'Edit', edit_plant_alert_path(@plant, alert) %></span>
    <span><%= link_to 'Destroy', [@plant, alert], method: :delete, data: { confirm: 'Are you sure?' }  %></span>
  </li>
  <% end %>
  <li><%= link_to 'New Alert', new_plant_alert_path(@plant) %></li>
</ul>

<h2 class="cell_division">Supports</h2>
  <ul>
  <% @supports.each do |support| %>
  <li>
    <span><%= support.number %></span>
    <span><%= link_to 'Show', plant_support_path(@plant) %></span>
    <span><%= link_to 'Edit', edit_plant_support_path(@plant, support) %></span>
    <span><%= link_to 'Destroy', [@plant, support], method: :delete, data: { confirm: 'Are you sure?' }  %></span>
  </li>
  <% end %>
  <li><%= link_to 'New Support', new_plant_support_path(@plant) %></li>
</ul>

<h2 class="cell_division">Inspections</h2>
  <ul>
  <% @inspections.each do |inspection| %>
  <li>
    <span>#<%= inspection.id %></span>
    <span><%= link_to 'Show', [@plant, inspection] %></span>
    <span><%= link_to 'Edit', edit_plant_inspection_path(@plant, inspection) %></span>
    <span><%= link_to 'Destroy', [@plant, inspection], method: :delete, data: { confirm: 'Are you sure?' }  %></span>
  </li>
  <% end %>
  <li><%= link_to 'New Inspection', new_plant_inspection_path(@plant) %></li>
</ul>

<h2 class="cell_division">Logbook</h2>
<ul>
  <li><%= link_to 'Logbook', @logbook %></li>
  <li><%= link_to 'Logbook History', logbooks_path %></li>
</ul>

<h2 class="cell_division">Samplings</h2>
<ul>
  <li><%= link_to 'Lab', @lab_samplings %></li>
  <li><%= link_to 'Internal', @internal_samplings %></li>
</ul>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', company_path(@company) %>
