<% if @plant.cover.attached? %>
<p>
  <%= image_tag @plant.cover_hero, class: 'img-fluid' %>
</p>
<% end %>

<% if can? :edit, Plant %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to t(:edit, scope: :global), edit_plant_path(@plant), class: 'option-button__option-link', data: { turbolinks: false } %></li>
    <li class="option-button__separator"></li>
    <% if can? :destroy, Plant %>
    <li class="option-button__option"><%= link_to t(:destroy, scope: :global), @plant, class: 'option-button__option-link', method: :delete, data: { confirm: t(:confirm, scope: :global) } %></li>
    <% end %>
  <% end %>
<% end %>

<h2 class="main__titles"><%= @plant.name %></h2>
<h3 class="main__subtitle"><%= t(:plant, scope: [:activerecord, :models]) %></h3>

<div class="view_info">
  <p class="view_info__data"><%= @plant.code %></p>
  <p class="view_info__title"><%= t(:code, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <% if @plant.address02.present? %>
  <p class="view_info__data--two-lines"><%= @plant.address01 %></p>
  <p class="view_info__data"><%= @plant.address02 %></p>
  <% else %>
  <p class="view_info__data"><%= @plant.address01 %></p>
  <% end %>
  <p class="view_info__title"><%= t(:address01, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.state %></p>
  <p class="view_info__title"><%= t(:state, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.zip %></p>
  <p class="view_info__title"><%= t(:zip, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.country.name %></p>
  <p class="view_info__title"><%= t(:country_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.phone %></p>
  <p class="view_info__title"><%= t(:phone, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= l(@plant.startup_date, format: :long) %></p>
  <p class="view_info__title"><%= t(:startup_date, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.contact&.full_name %></p>
  <p class="view_info__title"><%= t(:contact_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.bf_contact&.full_name %></p>
  <p class="view_info__title"><%= t(:bf_contact_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= t(@plant.discharge_point.name.parameterize(separator: '_'), scope: [:activerecord, :attributes, :discharge_point, :discharge_points]) %></p>
  <p class="view_info__title"><%= t(:discharge_point_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.system_size.sum %> <%= @plant.metrics.area.pluralize(@plant.system_size.sum) %></p>
  <p class="view_info__title"><%= t(:system_size, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.flow_design %> <%= @plant.flow_design.present? && @plant.flow_design > 1 ? t(:volumes, scope: [:activerecord, :attributes, :metrics]) : t(:volume, scope: [:activerecord, :attributes, :metrics]) %> <%= t(:per_day, scope: :global) %></p>
  <p class="view_info__title"><%= t(:flow_design, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<%# <% if @plant.discharge_permit.attached? %>
<!-- <div class="view_info">
  <p class="view_info__data">
    <%#= link_to @plant.discharge_permit, class: 'text-icon', download: true do %>
    <%#= render 'shared/icons/document' %>
      <%#= @plant.discharge_permit.filename %>
    <%# end %>
  </p>
  <p class="view_info__title">Discharge Permit</p>
</div> -->
<%# end %>

<div class="view_info">
  <p class="view_info__data"><%= @plant.system_purpose %></p>
  <p class="view_info__title"><%= t(:system_purpose, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.report_preface %></p>
  <p class="view_info__title"><%= t(:report_preface, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="space"></div>

<div class="highseason <%= @plant.high_season ? 'active' : '' %>">

  <h2 class="cell_division"><%= t(:high_season, scope: [:activerecord, :attributes, :plant]) %></h2>

  <label class="switch">
    <input type="checkbox" <%= @plant.high_season ? 'checked' : '' %> class="highseason__input">
    <span class="slider round"></span>
  </label>
</div>

<div class="space"></div>

<!-- <h2 class="cell_division">Standards</h2> -->

<!-- <div class="field standards">
  <table class="standards__view">
    <tr>
      <th class="standard__th">Active</th>
      <th>Name</th>
      <th colspan="2" class="standards__th">In</th>
      <th colspan="2" class="standards__th">Out</th>
    </tr>
  <%# @standards.each do |standard| %>
    <%# if (standard.enabled) %>
    <tr>
      <td><input type="checkbox" name="<%#= standard.option.name %>" checked="true" disabled></td>
      <td><%#= standard.option.name %></td>
      <%# standard.bounds.each do |bound| %>
      <%# if standard.isRange %>
      <td><%#= bound.from %></td>
      <td><%#= bound.to %></td>
      <%# else %>
      <td colspan="2" class="standards__th"><%#= bound.from %></td>
      <%# end %>
      <%# end %>
    </tr>
    <%# end %>
  <%# end %>
  </table>
</div> -->

<h2 class="cell_division">Logbook</h2>

<%= render 'shared/tables/elements_list', headers: [t(:task, scope: [:activerecord, :models]).pluralize, t(:responsible, scope: [:activerecord, :attributes, :plant])] do %>
<% @task_list.each do |task| %>
<tr class="table_main__table-row">
  <td class="table_main__table-data--left-text"><input type="checkbox" name="active" value="Boat" <%= 'checked' if task.active %> disabled> <%= task.name %></td>
  <td class="table_main__table-data"><%= Responsible.name(task) %></td>
</tr>
<% end %>
<% end %>

<div class="view_info">
  <p class="view_info__data"><%= @plant.logbook_bf_responsible&.full_name %></p>
  <p class="view_info__title"><%= t(:logbook_bf_responsible_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.logbook_bf_supervisor&.full_name %></p>
  <p class="view_info__title"><%= t(:logbook_bf_supervisor_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @plant.logbook_company_responsible&.full_name %></p>
  <p class="view_info__title"><%= t(:logbook_company_responsible_id, scope: [:activerecord, :attributes, :plant]) %></p>
</div>

<!-- <h3>Graphs</h3>
<ul>
  <%# @graph_standards.each do |graph| %>
  <li>
    <input type="checkbox" name="active" value="Boat" <%#= 'checked' if graph.show %> disabled>
    <%#= graph.chart.name %>
  </li>
  <%# end %>
</ul> -->
