<%= form_with(model: alert, url: [@plant, alert], local: true) do |form| %>
  <% if alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Attention' %>
    <ul>
    <%= form.collection_check_boxes(:user_ids, @alert.plant.users, :id, :full_name) do |user| %>
      <li><%= user.check_box %> <%= user.label %></li>
    <% end %>
    </ul>
  </div>

  <div class="field no-border">
    <%= form.label :incident_type_id %>
    <%= form.collection_select :incident_type_id, @incidents, :id, :name, {prompt: 'Select a Incident Type'} %>
  </div>

  <div class="field no-border">
    <%= form.label :status_id %>
    <%= form.collection_select :status_id, @statuses, :id, :name, {prompt: 'Select a Status'} %>
  </div>

  <div class="field no-border">
    <%= form.label 'Solution Priority' %>
    <%= form.collection_select :priority_id, @priorities, :id, :name, {prompt: 'Select a Priority'}, class:'describe' %>
  </div>

  <div class="field">
    <%= form.label 'Incident Description' %>
    <%= form.text_area :incident_description %>
  </div>

  <div class="field">
    <%= form.label 'Negative Impact to System Description' %>
    <%= form.text_area :negative_impact %>
  </div>

  <div class="field">
    <%= form.label :solution %>
    <%= form.text_area :solution %>
  </div>

  <div class="field">
    <%= form.label :incident_resolution %>
    <%= form.text_area :incident_resolution %>
  </div>

  <div class="field date no-border">
    <%= form.label :solution_target_date %>
    <%= form.date_select :solution_target_date %>
  </div>

  <div class="field">
    <%= form.label :technician_hours_required %>
    <%= form.number_field :technician_hours_required %>
  </div>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
