<%= form_with(model: alert, url: [@plant, alert], local: true) do |form| %>
  <% if alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attention %>
    <ul>
    <%= form.collection_check_boxes(:user_ids, @company_users + @biofiltro_users, :id, :full_name, include_hidden: false) do |user| %>
      <li><%= user.check_box %> <%= user.label %></li>
    <% end %>
    </ul>
  </div>

  <div class="field no-border">
    <%= form.label :incident_type_id %>
    <%= form.collection_select :incident_type_id, @incidents, :first, :second, {prompt: t(:incident_type, scope: :alert)} %>
  </div>

  <div class="field no-border">
    <%= form.label :status_id %>
    <%= form.collection_select :status_id, @statuses, :first, :second, {prompt: t(:status, scope: :alert)} %>
  </div>

  <div class="field no-border">
    <%= form.label :priority_id %>
    <%= form.collection_select :priority_id, @priorities, :first, :second, {prompt: t(:priority, scope: :alert)}, class:'describe' %>
  </div>

  <div class="field">
    <%= form.label :incident_description %>
    <%= form.text_area :incident_description %>
  </div>

  <div class="field">
    <%= form.label :negative_impact %>
    <%= form.text_area :negative_impact %>
  </div>

  <div class="field">
    <%= form.label :solution %>
    <%= form.text_area :solution %>
  </div>

  <div class="field">
    <%= form.label :incident_resolution %>
    <%= form.text_area :incident_resolution %>
  </div>

  <div class="field date no-border">
    <%= form.label :solution_target_date %>
    <%= form.date_select :solution_target_date %>
  </div>

  <div class="field">
    <%= form.label :technician_hours_required %>
    <%= form.number_field :technician_hours_required %>
  </div>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
