<% if can? :create, Alert %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to t(:new, scope: :alert), new_plant_alert_path(@plant), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title"><%= t(:index, scope: :alert) %></h2>

<%= render 'shared/tables/elements_list', headers: [t(:incident, scope: :alert), t(:status_id, scope: [:activerecord, :attributes, :alert]), t(:options, scope: :global).camelcase], title: t(:all, scope: :alert) do %>
<% @alerts.each do |alert| %>
  <tr class="table_main__table-row">
    <td class="table_main__table-data--left-text"><%= link_to alert.title, plant_alert_path(@plant, alert), class: 'table_main__link-show' %></td>
    <td class="table_main__table-data"><%= t(alert.status.name.parameterize(separator: '_'), scope: [:activerecord, :attributes, :status, :statuses]) %></td>
    <td class="table_main__table-data--options">
      <a href="#" class="table_main__link--options"></a>
      <div class="options_menu">
        <ul class="options_menu__list">
          <% if can? :read, Alert %><li class="options_menu__item"><%= link_to t(:show, scope: :global), plant_alert_path(@plant, alert), class: 'options_menu__link' %></li><% end %>
          <% if can? :edit, Alert %><li class="options_menu__item"><%= link_to t(:edit, scope: :global), edit_plant_alert_path(@plant, alert), class: 'options_menu__link' %></li><% end %>
          <% if can? :destroy, Alert %><li class="options_menu__item"><%= link_to t(:destroy, scope: :global), [@plant, alert], class: 'options_menu__link', method: :delete, data: { confirm: t(:confirm, scope: :global) } %></li><% end %>
        </ul>
        <div class="unclick"></div>
      </div>

  </tr>
<% end %>
<% end %>
