<% if can? :edit, Alert %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_plant_alert_path(@plant, @alert), class: 'option-button__option-link' %></li>
    <% if can? :destroy, Alert %>
    <li class="option-button__separator"></li>
    <li class="option-button__option"><%= link_to 'Destroy', plant_alert_path(@plant, @alert), method: :delete, data: { confirm: 'Are you sure?' }, class: 'option-button__option-link' %></li>
    <% end %>
  <% end %>
<% end %>

<h2 class="main__title">Alert <%= @alert.title %></h2>

<div class="view_info">
  <ul class="view_info__elements">
    <% @alert.users.each do |user| %>
    <li class="view_info__element"><%= user.full_name %></li>
    <% end %>
  </ul>
  <p class="view_info__title">Atention</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @alert.incident_type.name %></p>
  <p class="view_info__title">Incident Type</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @alert.status.name %></p>
  <p class="view_info__title">Status</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @alert.priority.name %></p>
  <p class="view_info__title">Solution Priority</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @alert.incident_description %></p>
  <p class="view_info__title">Incident description</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @alert.negative_impact %></p>
  <p class="view_info__title">Negative impact</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @alert.solution %></p>
  <p class="view_info__title">Solution</p>
</div>

<% if @alert.incident_resolution.present? %>
<div class="view_info">
  <p class="view_info__data"><%= @alert.incident_resolution %></p>
  <p class="view_info__title">Incident resolution</p>
</div>
<% end %>

<div class="view_info">
  <p class="view_info__data"><%= @alert.solution_target_date %></p>
  <p class="view_info__title">Solution target date</p>
</div>


<div class="view_info">
  <p class="view_info__data"><%= @alert.technician_hours_required %></p>
  <p class="view_info__title">Technician hours required</p>
</div>
