<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: :name %>
  </div>

  <div class="field">
    <%= form.label :taxid %>
    <%= form.text_field :taxid, placeholder: :taxid %>
  </div>

  <div class="field no-border">
    <%= form.label :industry_id %>
    <%= form.collection_select(:industry_id, @industries, :id, :name, {prompt: 'Select an Industry'})  %>
  </div>

  <div class="field no-border">
    <label>Company Contact</label>
    <%= form.collection_select(:contact_id, @users, :id, :full_name, {prompt: 'Select a Company Contact'})  %>
  </div>

  <div class="field no-border">
    <label>BF Contact</label>
    <%= form.collection_select(:bf_contact_id, @users, :id, :full_name, {prompt: 'Select a BF Contact'})  %>
  </div>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
