<% if can? :edit, Company %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_company_path(@company), class: 'option-button__option-link' %></li>
    <% if can? :create, Plant %>
    <li class="option-button__separator"></li>
    <li class="option-button__option"><%= link_to 'New Plant', new_company_plant_path(@company), class: 'option-button__option-link' %></li>
    <% end %>
  <% end %>
<% end %>

<h2 class="main__title"><%= @company.name %></h2>

<div class="view_info">
  <p class="view_info__data"><%= @company.name %></p>
  <p class="view_info__title">Name</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @company.taxid %></p>
  <p class="view_info__title">Taxid</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @company.industry.name %></p>
  <p class="view_info__title">Industry</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @company.contact&.full_name  %></p>
  <p class="view_info__title">Company Contact</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @company.bf_contact&.full_name  %></p>
  <p class="view_info__title">BioFiltro Contact</p>
</div>

<div class="space"></div>

<%= render 'shared/tables/elements_list', headers: %w(Plants Options), title: 'Related Plants' do %>
<% @plants.each do |plant| %>
<tr class="table_main__table-row">
  <td class="table_main__table-data--left-text"><%= link_to plant.name, plant, class: 'table_main__link-show' %></td>
  <td class="table_main__table-data--options">
    <a href="#" class="table_main__link--options"></a>
    <div class="options_menu">
      <ul class="options_menu__list">
        <% if can? :read, Plant %><li class="options_menu__item"><%= link_to 'show', plant, class: 'options_menu__link' %></li><% end %>
        <% if can? :edit, Plant %><li class="options_menu__item"><%= link_to 'edit', edit_plant_path(plant), class: 'options_menu__link' %></li><% end %>
        <% if can? :destroy, Plant %><li class="options_menu__item"><%= link_to 'destroy', plant, class: 'options_menu__link', method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
      </ul>
      <div class="unclick"></div>
    </div>
  </td>
</tr>
<% end %>
<% end %>
