<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Taxid:</strong>
  <%= @company.taxid %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry.name %>
</p>

<p>
  <strong>Company Contact:</strong>
  <%= @company.contact&.full_name  %>
</p>

<p>
  <strong>BioFiltro Contact:</strong>
  <%= @company.bf_contact&.full_name  %>
</p>

<p>
  <strong>Plants:</strong>
  <% if @plants %>
  <ul>
  <% @plants.each do |plant| %>
    <li>
      <span><%= plant.name %></span>
      <span><% if can? :read, Company %><%= link_to 'Show', plant %><% end %></span>
      <span><% if can? :edit, Company %><%= link_to 'Edit', edit_plant_path(plant) %><% end %></span>
      <span><% if can? :destroy, Company %><%= link_to 'Destroy', [@company, plant], method: :delete, data: { confirm: 'Are you sure?' }  %><% end %></span>
    </li>
  <% end %>
    <% if can? :create, Plant %>
    <li><span><%= link_to 'New Plant', new_company_plant_path(@company) %></span></li>
    <% end %>
  </ul>
  <% end %>
</p>

<% if can? :edit, Company %>
<%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
