<%= render 'shared/modal/standard', id: 'plant_logbook', title: 'Logbook Task', large: true, button_next: 'next' do %>
  <div class="svg_img">
    <%= render 'shared/modal/3-steps', className: 'svg_img__3-steps--1' %>
  </div>
  <h2>Task</h2>
  <div class="steps">
    <div class="steps__trail">

      <div class="step-1">
        <div class="field">
          <label for="task_name">Name</label>
          <input type="text" value="" name="name" id="task_name" data-required="true" data-error="Name is required" data-target="name">
        </div>
        <div class="field">
          <label for="task_comment">Comment</label>
          <input type="text" value="" name="comment" id="task_comment" data-target="comment">
        </div>
        <div class="field no-border">
          <label for="task_responsible">Responsible Party</label>
          <%= collection_select(:responsible, :responsible_id, @responsibles, :first, :second, {prompt: 'Select a Responsible Party'}, data: {required: true, error: 'Responsible Party is required', target: 'responsible'}) %>
        </div>
      </div>

      <div class="step-2">

        <div class="field">
          <label for="season">Affected by Season?</label>
          <%= collection_select(:season, :modal_season, @seasons, :first, :second, {prompt: 'Select an option'}, data: {required: true, error: 'Season is required', target: 'season'}) %>
        </div>

        <div class="field no-border">
          <label for="task_frecuency">Frecuency</label>
          <%= collection_select(:frecuency, :frecuency_id, @log_frecuency, :first, :second, {prompt: 'Select a Frecuency'}, class: 'frecuency', data: {required: true, error: 'Frecuency is required', target: 'frecuency'}) %>
        </div>

        <div class="select_week" id="weekly">
          <p class="select_week__label">Select the days of the week</p>
          <%= render 'shared/modal/week', block_class: 'select_week', data_week: 1 %>
        </div>

        <div class="select_month" id="every_2_weeks">
          <p class="select_month__label">Select the day and the week</p>
          <ul class="select_month__month">
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 1 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 2 %>
            </li>
          </ul>
        </div>

        <div class="select_month" id="monthly">
          <p class="select_month__label">Select the day and the week</p>
          <ul class="select_month__month">
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 1 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 2 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 3 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 4 %>
            </li>
          </ul>
        </div>

        <div class="select_month" id="every_x_months">
          <p class="select_month__label">Select month, day and week</p>
          <ul class="select_months">
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="1">Jan<span class="d-lg-inline">uary</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="2">Feb<span class="d-lg-inline">ruary</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="3">Mar<span class="d-lg-inline">ch</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="4">Apr<span class="d-lg-inline">il</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="5">May<span class="d-lg-inline"></span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="6">Jun<span class="d-lg-inline">e</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="7">Jul<span class="d-lg-inline">y</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="8">Aug<span class="d-lg-inline">ust</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="9">Sep<span class="d-lg-inline">tember</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="10">Oct<span class="d-lg-inline">ober</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="11">Nov<span class="d-lg-inline">ember</span></a></li>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="12">Dec<span class="d-lg-inline">ember</span></a></li>
          </ul>
          <ul class="select_month__month">
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 1 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 2 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 3 %>
            </li>
            <li class="select_month__week-item">
              <%= render 'shared/modal/week', data_week: 4 %>
            </li>
          </ul>
        </div>
      </div>

      <div class="step-3">
        <div class="field no-border">
          <label for="task_responsible">Value Type</label>
          <%= collection_select(:input_type, :input_type, @input_types, :first, :second, {prompt: 'Select a Value Type'}, data: {required: true, error: 'Value Type is required', target: 'input_type'}) %>
        </div>
        <div class="field no-border hidden_number hide">
          <label for="task_responsible">Number Type</label>
          <%= collection_select(:data_type, :data_type, @data_types, :first, :second, {prompt: 'Select a Number Type'}, data: {required: true, error: 'Number Type is required', target: 'data_type'}) %>
        </div>
      </div>
      </div>
  </div>
<% end %>
