<%= render 'shared/modal/standard', id: 'plant_logbook', title: t(:logbook_task, scope: :logbook), large: true do %>
  <div class="svg_img">
    <%= render 'shared/modal/3-steps', className: 'svg_img__3-steps--1' %>
  </div>
  <h2><%= t(:task, scope: :logbook) %></h2>
  <div class="steps">
    <div class="steps__trail">

      <div class="step-1">
        <div class="field">
          <label for="task_name"><%= t(:name, scope: [:activerecord, :attributes, :task]) %></label>
          <input type="text" value="" name="name" id="task_name" data-required="true" data-error="Name is required" data-target="name">
        </div>
        <div class="field">
          <label for="task_comment"><%= t(:comment, scope: [:activerecord, :attributes, :task]) %></label>
          <input type="text" value="" name="comment" id="task_comment" data-target="comment">
        </div>
        <div class="field no-border">
          <label for="task_responsible"><%= t(:responsible, scope: [:activerecord, :attributes, :task]) %></label>
          <%= collection_select(:responsible, :responsible_id, @responsibles, :first, :second, {prompt: t(:responsible, scope: :task)}, data: {required: true, error: t(:responsible_error, scope: :task), target: 'responsible'}) %>
        </div>
      </div>

      <div class="step-2">

        <div class="field">
          <label for="season"><%= t(:season, scope: [:activerecord, :attributes, :task]) %></label>
          <%= collection_select(:season, :modal_season, @seasons, :first, :second, {prompt: t(:season, scope: :task)}, data: {required: true, error: t(:season_error, scope: :task), target: 'season'}) %>
        </div>

        <div class="field no-border">
          <label for="task_frecuency"><%= t(:frecuency, scope: [:activerecord, :attributes, :task]) %></label>
          <%= collection_select(:frecuency, :frecuency_id, @log_frecuency, :first, :second, {prompt: t(:frecuency, scope: :task)}, class: 'frecuency', data: {required: true, error: t(:frecuency_error, scope: :task), target: 'frecuency'}) %>
        </div>

        <div class="select_week" id="weekly">
          <p class="select_week__label"><%= t(:select_day, scope: [:activerecord, :attributes, :task]) %></p>
          <%= render 'shared/modal/week', block_class: 'select_week', data_week: 1 %>
        </div>

        <div class="select_month" id="every_2_weeks">
          <p class="select_month__label"><%= t(:select_day_week, scope: [:activerecord, :attributes, :task]) %></p>
          <ul class="select_month__month">
            <% 2.times do |num| %>
            <li class="select_month__week-item"><%= render 'shared/modal/week', data_week: num + 1 %></li>
            <% end %>
          </ul>
        </div>

        <div class="select_month" id="monthly">
          <p class="select_month__label"><%= t(:select_day_week, scope: [:activerecord, :attributes, :task]) %></p>
          <ul class="select_month__month">
            <% 4.times do |num| %>
            <li class="select_month__week-item"><%= render 'shared/modal/week', data_week: num + 1 %></li>
            <% end %>
          </ul>
        </div>

        <div class="select_month" id="every_x_months">
          <p class="select_month__label"><%= t(:select_day_week_month, scope: [:activerecord, :attributes, :task]) %></p>
          <ul class="select_months">
            <% @months.each_with_index do |month, index| %>
            <li class="select_months__month"><a href="#" class="select_months__month-link" data-month="<%= index + 1 %>"><%= month.first %><span class="d-lg-inline"><%= month.second %></span></a></li>
            <% end %>
          </ul>
          <ul class="select_month__month">
            <% 4.times do |num| %>
            <li class="select_month__week-item"><%= render 'shared/modal/week', data_week: num + 1 %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="step-3">
        <div class="field no-border">
          <label for="task_responsible"><%= t(:value_type, scope: [:activerecord, :attributes, :task]) %></label>
          <%= collection_select(:input_type, :input_type, @input_types, :first, :second, {prompt: t(:input_type, scope: :task)}, data: {required: true, error: t(:input_type_error, scope: :task), target: 'input_type'}) %>
        </div>
        <div class="field no-border hidden_number hide">
          <label for="task_responsible"><%= t(:number_type, scope: [:activerecord, :attributes, :task]) %></label>
          <%= collection_select(:data_type, :data_type, @data_types, :first, :second, {prompt: t(:data_type, scope: :task)}, data: {required: true, error: t(:data_type_error, scope: :task), target: 'data_type'}) %>
        </div>
      </div>
      </div>
  </div>
<% end %>
