<% large = large || '' %>
<% small = small || '' %>

<% size = large.present? ? ' modal-lg' : small.present? ? ' modal-sm' : '' %>
<div id="<%= id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" style="display: none;">
  <div class="modal-dialog<%= size %>" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="gridModalLabel"><%= title %></h4>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-footer__prev-btn"><%= t(:previous, scope: :global) %></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:close, scope: :global) %></button>
        <button type="button" class="modal-footer__next-btn"><%= t(:next, scope: :global) %></button>
        <button type="button" class="modal-footer__save-btn" style="display: none;"><%= t(:save, scope: :global) %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
