<%
  block_class = block_class || 'select_month'
  data_week = data_week || ''
  day_th = [t(:first, scope: [:global, :ordinal]), t(:second, scope: [:global, :ordinal]), t(:third, scope: [:global, :ordinal]), t(:fourth, scope: [:global, :ordinal])]
%>
<ul class="<%= block_class %>__week">
  <% @days.each_with_index do |day, index|
      day_short = day.first
      rest = day.second
    %>
    <li class="<%= block_class %>__day">
      <a
        href="#"
        class="<%= block_class %>__day-link" <%= data_week.present? ? "data-week=#{data_week}" : '' %>
        data-day="<%= day_short.downcase %>" <%= data_week.present? ? "data-num=#{((data_week - 1) * 7) + (index + 1)}" : '' %>
      >
        <%= data_week.present? && block_class != 'select_week' ? data_week : '' %><sup class="select_month__sup"><%= day_th[data_week.to_i - 1] + ' ' if data_week.present? && block_class != 'select_week' %></sup><%= day_short %>
        <span class="d-lg-inline"> <%= rest %></span>
      </a>
    </li>
  <% end %>
</ul>
