<%= form_with(model: support, url:[support.plant, support], local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Attention' %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.check_box :client_onsite %>
    <%= form.label :client_onsite %>
  </div>

  <div class="field">
    <%= form.label :name_client_onsite %>
    <%= form.collection_select(:client_id, @support.plant.users, :id, :full_name, {prompt: 'Select a Client'})  %>
  </div>

  <div class="field">
    <%= form.label :bf_technician %>
    <%= form.collection_select(:bf_technician_id, @support.plant.users, :id, :full_name, {prompt: 'Select a Technician'})  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
