<%= form_with(model: support, url:[@plant, support], local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Attention' %>
    <ul>
    <%= form.collection_check_boxes(:user_ids, @support.plant.users, :id, :full_name) do |user| %>
      <li><%= user.check_box %> <%= user.label %></li>
    <% end %>
    </ul>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.check_box :client_onsite %>
    <%= form.label :client_onsite %>
  </div>

  <div class="field">
    <%= form.label :name_client_onsite %>
    <%= form.collection_select(:client_id, @support.plant.users, :id, :full_name, {prompt: 'Select a Client'})  %>
  </div>

  <div class="field">
    <%= form.label :bf_technician %>
    <%= form.collection_select(:bf_technician_id, @support.plant.users, :id, :full_name, {prompt: 'Select a Technician'})  %>
  </div>

  <h2 class="cell_division">Work Summary</h2>

  <ul class="work_summaries">
    <%= form.fields_for :work_summaries do |ws| %>

    <li class="work_summary" data-id="<%= ws.object.id %>">
      <div class="work_summary__delete_div">
        <%= link_to 'x', ws.object.persisted? ? work_summary_path(ws.object.id) : '#', class: 'work_summary__delete', remote: ws.object.persisted?, method: :delete %>
      </div>
      <%= ws.hidden_field :_destroy %>
      <div class="field">
        <%= ws.label :description %>
        <%= ws.text_field :description %>
      </div>

      <div class="field">
        <%= ws.label :hours %>
        <%= ws.number_field :hours %>
      </div>

      <div class="field">
        <%= ws.label :materials %>
        <%= ws.text_area :materials %>
      </div>
    </li>
    <% end %>

  </ul>

  <div class="work_summary work_summary__button">
    <div class="system_size__bottom">
      <%= link_to '+', custom_plant_supports_path(support.plant), remote: true, class: 'system_size__plus'  %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
