<%= form_with(model: support, url:[@plant, support], local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attention %>
    <ul>
    <%= form.collection_check_boxes(:user_ids, @users, :id, :full_name, include_hidden: false) do |user| %>
      <li><%= user.check_box %> <%= user.label %></li>
    <% end %>
    </ul>
  </div>

  <div class="field no-border date">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field no-border date">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.check_box :client_onsite %>
    <%= form.label :client_onsite %>
  </div>

  <div class="field no-border">
    <%= form.label :name_client_onsite %>
    <%= form.collection_select(:client_id, @users, :id, :full_name, {prompt: t(:select_client, scope: :support)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :bf_technician_id %>
    <%= form.collection_select(:bf_technician_id, @users, :id, :full_name, {prompt: t(:select_technician, scope: :support)})  %>
  </div>

  <h2 class="cell_division"><%= t(:work_summary, scope: [:activerecord, :models]) %></h2>

  <ul class="work_summaries">
    <%= form.fields_for :work_summaries do |ws| %>

    <li class="work_summary" data-id="<%= ws.object.id %>">
      <div class="work_summary__delete_div">
        <a href="#" class="work_summary__delete">x</a>
      </div>
      <div class="field">
        <%= ws.label :description %>
        <%= ws.text_field :description %>
      </div>

      <div class="field">
        <%= ws.label :hours %>
        <%= ws.number_field :hours %>
      </div>

      <div class="field">
        <%= ws.label :materials %>
        <%= ws.text_area :materials %>
      </div>
    </li>
    <% end %>

  </ul>

  <div class="work_summary__button">
    <div class="system_size__bottom">
      <%= link_to '+',
          custom_plant_supports_path(support.plant),
          remote: true,
          class: 'work_summary__plus'
      %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
