<h1>Supports</h1>

<table>
  <thead>
    <tr>
      <th>Support Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supports.each do |support| %>
      <tr>
        <td><%= support.number %></td>
        <td><%= link_to 'Show', plant_support_path(@plant, support) %></td>
        <td><%= link_to 'Edit', edit_plant_support_path(@plant, support) %></td>
        <td><%= link_to 'Destroy', plant_support_path(@plant, support), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Support', new_plant_support_path(@plant) %>
