<h1>Support <%= @support.number %></h1>

<p>
  <strong>Start date:</strong>
  <%= @support.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @support.end_date %>
</p>

<p>
  <strong>Client onsite:</strong>
  <%= @support.client_onsite %>
</p>

<p>
  <strong>Name client onsite:</strong>
  <%= @support.client.full_name %>
</p>

<p>
  <strong>Name BF Technician:</strong>
  <%= @support.bf_technician.full_name %>
</p>

<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', plant_path(@support.plant) %>
