<h1>Support <%= @support.number %></h1>

<p>
  <strong>Atention:</strong>
  <ul>
    <% @support.users.each do |user| %>
    <li><%= user.full_name %></li>
    <% end %>
</ul>
</p>

<p>
  <strong>Start date:</strong>
  <%= @support.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @support.end_date %>
</p>

<p>
  <strong>Client onsite:</strong>
  <%= @support.client_onsite ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Name client onsite:</strong>
  <%= @support.client.full_name %>
</p>

<p>
  <strong>Name BF Technician:</strong>
  <%= @support.bf_technician.full_name %>
</p>

<ul>
<% @support.work_summaries.each do |work_summary| %>
  <li>
    <p>Description: <%= work_summary.description %></p>
    <p>Hours: <%= work_summary.hours %></p>
    <p>Materials: <%= work_summary.materials %></p>
  </li>
<% end %>
</ul>

<% if can? :edit, Support %>
<%= link_to 'Edit', edit_plant_support_path(@support) %>
<% end %>
