<h1>Standards</h1>

<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Plant</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.option %></td>
        <td><%= standard.plant %></td>
        <td><%= standard.active %></td>
        <td><% if can? :read, Standard %><%= link_to t(:show, scope: :global), standard %><% end %></td>
        <td><% if can? :edit, Standard %><%= link_to t(:edit, scope: :global), edit_standard_path(standard) %><% end %></td>
        <td><% if can? :destroy, Standard %><%= link_to t(:destroy, scope: :global), standard, method: :delete, data: { confirm: t(:confirm, scope: :global) } %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Standard %>
<%= link_to 'New Standard', new_standard_path %>
<% end %>
