<% if can? :create, FlowReport %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'New Flow Report', new_plant_flow_report_path, class: 'option-button__option-link' %></li>
    <li class="option-button__option"><%= link_to 'Upload from File', flows_plant_imports_path(@plant), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Flow Reports</h2>

<%= render 'shared/tables/elements_list', headers: %w(Date Options) do %>
<% @flow_reports.each do |flow_report| %>
  <tr class="table_main__table-row">
    <td class="table_main__table-data--left-text"><%= link_to flow_report.date.strftime("%B, %Y"), plant_flow_report_path(@plant, flow_report), class: 'table_main__link-show' %></td>
    <td class="table_main__table-data--options">
      <a href="#" class="table_main__link--options"></a>
      <div class="options_menu">
        <ul class="options_menu__list">
          <% if can? :read, FlowReport %><li class="options_menu__item"><%= link_to 'Show', plant_flow_report_path(@plant, flow_report), class: 'options_menu__link' %></li><% end %>
          <% if can? :edit, FlowReport %><li class="options_menu__item"><%= link_to 'Edit', edit_plant_flow_report_path(@plant, flow_report), class: 'options_menu__link' %></li><% end %>
          <% if can? :destroy, FlowReport %><li class="options_menu__item"><%= link_to 'Destroy', plant_flow_report_path(@plant, flow_report), class: 'options_menu__link', method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
        </ul>
        <div class="unclick"></div>
      </div>
  </tr>
<% end %>
<% end %>
