<% if can? :edit, FlowReport %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_plant_flow_report_path(@plant, @flow_report), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__titles">Flows</h2>
<h3 class="main__subtitle"><%= @flow_report.date.strftime('%B, %Y') %></h3>

<ul class="flows">
  <% day = 0 %>
  <li class="flow__li">
    <strong>Date</strong>
    Value (<%= @plant.metrics.volume.pluralize(10) %>)
  </li>
  <% @flows.each_with_index do |flow, i| %>
  <li class="flow__li">
    <strong><%= '0' if day < 9 %><%= day += 1 %>:</strong>
    <input type="number" value="<%= flow.value || '0.0' %>" class="flow__li-input">
  </li>
  <% end %>
</ul>
