<%= form_with model: inspection, url:[@plant, inspection], local: true, builder: BFFormBuilder do |form| %>
  <% if inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>

      <ul>
      <% inspection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="cell_division"><%= t(:general_info, scope: :inspection) %></h2>

  <div class="field no-border">
    <%= form.label :on_site_client %>
    <%= form.collection_select(:on_site_client, @on_site_client, :second, :first, {prompt: t(:select_option, scope: :inspection)}, class:'describe')  %>
  </div>

  <div class="field description <%= 'show' if inspection.on_site_client %> no-border">
    <%= form.label :on_site_user_id %>
    <%= form.collection_select(:on_site_user_id, @users, :id, :full_name, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :report_technician_id %>
    <%= form.collection_select(:report_technician_id, @users, :id, :full_name, {prompt: t(:select_option, scope: :inspection)}) %>
  </div>

  <div class="field">
    <%= form.label :notify %>
    <ul>
    <%= form.collection_check_boxes(:user_ids, @users, :id, :full_name, include_hidden: false) do |user| %>
      <li><%= user.check_box %> <%= user.label %></li>
    <% end %>
    </ul>
  </div>

  <div class="field no-border date">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <h2 class="cell_division"><%= t(:water_quality, scope: :inspection) %></h2>

  <%= form.fields_for :fluents, @fluents do |fluent| %>
    <% _fluent = fluent.object.output.name %>
    <h3><%= fluent.hidden_field :output_id, value: fluent.object.output.id %><%= t(_fluent.downcase, scope: :inspection) %></h3>

    <div class="field">
      <%= fluent.label t(:fluent_sampling, fluent: t(_fluent.downcase, scope: :inspection), scope: [:activerecord, :attributes, :inspection]) %>
      <%= fluent.bf_value_field :ph, 'pH' %>
    </div>

    <div class="field no-border">
      <%= fluent.label t(:sampling_color, fluent: t(_fluent.downcase, scope: :inspection), scope: [:activerecord, :attributes, :inspection]) %>
      <%= fluent.collection_select(:color_id, @colors, :first, :second, {prompt: t(:select_option, scope: :inspection)}, class: 'describe') %>
    </div>

    <div class="field description">
      <%= fluent.label t(:color_description, fluent: t(_fluent.downcase, scope: :inspection), scope: [:activerecord, :attributes, :inspection]) %>
      <%= fluent.text_area :color_description %>
    </div>

    <div class="field no-border">
      <%= fluent.label t(:sampling_odor, fluent: t(_fluent.downcase, scope: :inspection), scope: [:activerecord, :attributes, :inspection]) %>
      <%= fluent.collection_select(:odor_id, @odors, :first, :second, {prompt: t(:select_option, scope: :inspection)}, class:'describe')  %>
    </div>

    <div class="field description">
      <%= fluent.label t(:odor_description, fluent: t(_fluent.downcase, scope: :inspection), scope: [:activerecord, :attributes, :inspection]) %>
      <%= fluent.text_area :odor_description %>
    </div>

    <div class="field">
      <%= fluent.label :cod %>
      <%= fluent.bf_value_field :cod, 'mg/L' %>
    </div>

    <div class="field">
      <%= fluent.label :ec %>
      <%= fluent.bf_value_field :ec, 'µS/cm' %>
    </div>

    <div class="field">
      <%= fluent.label :bod %>
      <%= fluent.bf_value_field :bod, 'mg/L' %>
    </div>

    <div class="field">
      <%= fluent.label :tss %>
      <%= fluent.bf_value_field :tss, 'mg/L' %>
    </div>

    <div class="field">
      <%= fluent.label :tn %>
      <%= fluent.bf_value_field :tn, 'mg/L' %>
    </div>

    <div class="field">
      <%= fluent.label :tp %>
      <%= fluent.bf_value_field :tp, 'mg/L' %>
    </div>

    <div class="field">
      <%= fluent.label :sample_comments %>
      <%= fluent.text_area :sample_comments %>
    </div>
    <% end %>

  <h2 class="cell_division"><%= t(:primary_screen, scope: :inspection) %></h2>

  <div class="field no-border">
    <%= form.label :screen_id %>
    <%= form.collection_select(:screen_id, @screens, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :collection_bin_id %>
    <%= form.collection_select(:collection_bin_id, @collectionbins, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field">
    <%= form.label :screen_comments %>
    <%= form.text_area :screen_comments %>
  </div>

  <h2 class="cell_division"><%= t(:pumps_irrigation, scope: :inspection) %></h2>

  <div class="field no-border">
    <%= form.label :noise_id %>
    <%= form.collection_select(:noise_id, @noises, :first, :second, {prompt: t(:select_option, scope: :inspection)}, class:'describe') %>
  </div>

  <div class="field description">
    <%= form.label :pumps_noise_description %>
    <%= form.text_area :pumps_noise_description %>
  </div>

  <div class="field">
    <%= form.label :pumps_psi %>
    <%= form.bf_value_field :pumps_psi, 'PSI' %>
  </div>

  <div class="field no-border">
    <%= form.label :sprinklers_pressure_id %>
    <%= form.collection_select(:sprinklers_pressure_id, @sprinklers_pressures, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :sprinklers_head_id %>
    <%= form.collection_select(:sprinklers_head_id, @sprinklers_heads, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :piping_id %>
    <%= form.collection_select(:piping_id, @pipings, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field">
    <%= form.label :pumps_comments %>
    <%= form.text_area :pumps_comments %>
  </div>

  <h2 class="cell_division"><%= t(:bida, scope: :inspection) %></h2>

  <div class="field no-border">
    <%= form.label :system_surface_id %>
    <%= form.collection_select(:system_surface_id, @system_surfaces, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :worms_color_id %>
    <%= form.collection_select(:worms_color_id, @worms_color, :first, :second, {prompt: t(:select_option, scope: :inspection)}, class:'describe') %>
  </div>

  <div class="field description">
    <%= form.label :worms_color_description %>
    <%= form.text_area :worms_color_description %>
  </div>

  <div class="field no-border">
    <%= form.label :worms_activity_id %>
    <%= form.collection_select(:worms_activity_id, @worms_activity, :first, :second, {prompt: t(:select_option, scope: :inspection)}, class:'describe') %>
  </div>

  <div class="field description">
    <%= form.label :worms_activity_description %>
    <%= form.text_area :worms_activity_description %>
  </div>

  <div class="field no-border">
    <%= form.label :worms_density_id %>
    <%= form.collection_select(:worms_density_id, @worms_density, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :bed_compaction_id %>
    <%= form.collection_select(:bed_compaction_id, @bed_compactions, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :ponding_id %>
    <%= form.collection_select(:ponding_id, @pondings, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field">
    <%= form.label :bida_comments %>
    <%= form.text_area :bida_comments %>
  </div>

  <h2 class="cell_division"><%= t(:general, scope: :inspection) %></h2>

  <div class="field no-border">
    <%= form.label :odor_id %>
    <%= form.collection_select(:odor_id, @odors, :first, :second, {prompt: t(:select_option, scope: :inspection)}, class:'describe')  %>
  </div>

  <div class="field description">
    <%= form.label :plant_odor_description %>
    <%= form.text_area :plant_odor_description %>
  </div>

  <div class="field no-border">
    <%= form.label :birds %>
    <%= form.select(:birds, @birds, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <div class="field no-border">
    <%= form.label :fly_id %>
    <%= form.collection_select(:fly_id, @flies, :first, :second, {prompt: t(:select_option, scope: :inspection)})  %>
  </div>

  <h2 class="cell_division"><%= t(:summary, scope: :inspection) %></h2>

  <div class="field">
    <%= form.label :summary_comments %>
    <%= form.text_area :summary_comments %>
  </div>

  <div class="actions">
    <%= form.submit class: 'action-btn' %>
  </div>
<% end %>
