<% if can? :create, Inspection %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to t(:new, scope: :inspection), new_plant_inspection_path(@plant), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title"><%= t(:index, scope: :inspection) %></h2>

<%= render 'shared/tables/elements_list', headers: [t(:number, scope: :inspection), t(:options, scope: :global)], title: t(:all, scope: :inspection) do %>
<% @inspections.each do |inspection| %>
  <tr class="table_main__table-row">
    <td class="table_main__table-data--left-text"><%= link_to "##{inspection.id} | #{inspection.date}", plant_inspection_path(@plant, inspection), class: 'table_main__link-show' %></td>
    <td class="table_main__table-data--options">
      <a href="#" class="table_main__link--options"></a>
      <div class="options_menu">
        <ul class="options_menu__list">
          <% if can? :read, Inspection %><li class="options_menu__item"><%= link_to t(:show, scope: :global), plant_inspection_path(@plant, inspection), class: 'options_menu__link' %></li><% end %>
          <% if can? :edit, Inspection %><li class="options_menu__item"><%= link_to t(:edit, scope: :global), edit_plant_inspection_path(@plant, inspection), class: 'options_menu__link' %></li><% end %>
          <% if can? :destroy, Inspection %><li class="options_menu__item"><%= link_to t(:destroy, scope: :global), plant_inspection_path(@plant, inspection), class: 'options_menu__link', method: :delete, data: { confirm: t(:confirm, scope: :global) } %></li><% end %>
        </ul>
        <div class="unclick"></div>
      </div>
  </tr>
<% end %>
<% end %>
