<h1>Inspections</h1>

<table>
  <thead>
    <tr>
      <th>Inspection Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td>#<%= inspection.id %></td>
        <td><%= link_to 'Show', plant_inspection_path(@plant, inspection) %></td>
        <td><%= link_to 'Edit', edit_plant_inspection_path(@plant, inspection) %></td>
        <td><%= link_to 'Destroy', plant_inspection_path(@plant, inspection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Inspection', new_plant_inspection_path(@plant) %>
