<h2 class="cell_division">General Info</h2>

<p>
  <strong>Client OnSite:</strong>
  <% if (@inspection.on_site_client) %>
  <%= @inspection.on_site_user.full_name %>
  <% else %>
  <%= @inspection.on_site_client %>
  <% end %>
</p>

<p>
  <strong>Report Technician:</strong>
  <%= @inspection.report_technician.full_name %>
</p>

<h2 class="cell_division">Water Quality</h2>

<% @inspection.fluents.each do |fluent|%>
<div class="fluent <%= fluent.output.name.parameterize.underscore %>">
  <h4><%= fluent.output.name %></h4>

  <p>
    <strong>pH:</strong>
    <%= fluent.ph %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= fluent.color.option %>
  </p>

  <% if fluent.color_description != '' %>
  <p>
    <strong>Color Description:</strong>
    <%= fluent.color_description %>
  </p>
  <% end %>

  <p>
    <strong>Odor:</strong>
    <%= fluent.odor.option %>
  </p>

  <% if fluent.odor_description != '' %>
  <p>
    <strong>Color Description:</strong>
    <%= fluent.odor_description %>
  </p>
  <% end %>
</div>
<% end %>
<p>
  <strong>Cod:</strong>
  <%= @inspection.cod %>
</p>

<p>
  <strong>Ec:</strong>
  <%= @inspection.ec %>
</p>

<p>
  <strong>Bod:</strong>
  <%= @inspection.bod %>
</p>

<p>
  <strong>Tss:</strong>
  <%= @inspection.tss %>
</p>

<p>
  <strong>Tn:</strong>
  <%= @inspection.tn %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @inspection.tp %>
</p>

<p>
  <strong>Sample comments:</strong>
  <%= @inspection.sample_comments %>
</p>

<h2 class="cell_division">Primary Screen</h2>

<p>
  <strong>Screen:</strong>
  <%= @inspection.screen.option %>
</p>

<p>
  <strong>Collection Bin:</strong>
  <%= @inspection.collection_bin.option %>
</p>

<p>
  <strong>Screen comments:</strong>
  <%= @inspection.screen_comments %>
</p>

<h2 class="cell_division">Pumps and Irrigation System</h2>

<p>
  <strong>Pumps Noise:</strong>
  <%= @inspection.noise.option %>
</p>

<p>
  <strong>Pumps noise description:</strong>
  <%= @inspection.pumps_noise_description %>
</p>

<p>
  <strong>Pumps psi:</strong>
  <%= @inspection.pumps_psi %>
</p>

<p>
  <strong>Sprinklers pressure:</strong>
  <%= @inspection.sprinklers_pressure.option %>
</p>

<p>
  <strong>Sprinklers head:</strong>
  <%= @inspection.sprinklers_head.option %>
</p>

<p>
  <strong>Piping:</strong>
  <%= @inspection.piping.option %>
</p>

<p>
  <strong>Pumps comments:</strong>
  <%= @inspection.pumps_comments %>
</p>

<h2 class="cell_division">BIDA System</h2>

<p>
  <strong>System surface:</strong>
  <%= @inspection.system_surface.option %>
</p>

<p>
  <strong>Bed compaction:</strong>
  <%= @inspection.bed_compaction.option %>
</p>

<p>
  <strong>Ponding:</strong>
  <%= @inspection.ponding.option %>
</p>

<p>
  <strong>Bida comments:</strong>
  <%= @inspection.bida_comments %>
</p>

<h2 class="cell_division">General</h2>

<p>
  <strong>Odor:</strong>
  <%= @inspection.odor.option %>
</p>

<p>
  <strong>Plant odor description:</strong>
  <%= @inspection.plant_odor_description %>
</p>

<p>
  <strong>Birds:</strong>
  <%= @inspection.birds ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Fly:</strong>
  <%= @inspection.fly.option %>
</p>

<h2 class="cell_division">Summary/Recommendations</h2>

<p>
  <strong>Summary comments:</strong>
  <%= @inspection.summary_comments %>
</p>

<%= link_to 'Edit', edit_plant_inspection_path(@plant, @inspection) %> |
<%= link_to 'Back', plant_inspections_path(@plant) %>
