<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @inspection.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @inspection.user %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @inspection.plant %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @inspection.cod %>
</p>

<p>
  <strong>Ec:</strong>
  <%= @inspection.ec %>
</p>

<p>
  <strong>Bod:</strong>
  <%= @inspection.bod %>
</p>

<p>
  <strong>Tss:</strong>
  <%= @inspection.tss %>
</p>

<p>
  <strong>Tn:</strong>
  <%= @inspection.tn %>
</p>

<p>
  <strong>Tp:</strong>
  <%= @inspection.tp %>
</p>

<p>
  <strong>Sample comments:</strong>
  <%= @inspection.sample_comments %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @inspection.screen %>
</p>

<p>
  <strong>Collection Bin:</strong>
  <%= @inspection.collection_bin %>
</p>

<p>
  <strong>Screen comments:</strong>
  <%= @inspection.screen_comments %>
</p>

<p>
  <strong>Noice:</strong>
  <%= @inspection.noice %>
</p>

<p>
  <strong>Pumps noice description:</strong>
  <%= @inspection.pumps_noice_description %>
</p>

<p>
  <strong>Pumps psi:</strong>
  <%= @inspection.pumps_psi %>
</p>

<p>
  <strong>Sprinklers pressure:</strong>
  <%= @inspection.sprinklers_pressure %>
</p>

<p>
  <strong>Sprinklers head:</strong>
  <%= @inspection.sprinklers_head %>
</p>

<p>
  <strong>Piping:</strong>
  <%= @inspection.piping %>
</p>

<p>
  <strong>Pumps comments:</strong>
  <%= @inspection.pumps_comments %>
</p>

<p>
  <strong>System surface:</strong>
  <%= @inspection.system_surface %>
</p>

<p>
  <strong>Bed compaction:</strong>
  <%= @inspection.bed_compaction %>
</p>

<p>
  <strong>Ponding:</strong>
  <%= @inspection.ponding %>
</p>

<p>
  <strong>Bida comments:</strong>
  <%= @inspection.bida_comments %>
</p>

<p>
  <strong>Odor:</strong>
  <%= @inspection.odor %>
</p>

<p>
  <strong>Plant odor description:</strong>
  <%= @inspection.plant_odor_description %>
</p>

<p>
  <strong>Birds:</strong>
  <%= @inspection.birds %>
</p>

<p>
  <strong>Fly:</strong>
  <%= @inspection.fly %>
</p>

<p>
  <strong>Summary comments:</strong>
  <%= @inspection.summary_comments %>
</p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
