<% if can? :edit, Inspection %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Edit', edit_plant_inspection_path(@plant, @inspection), class: 'option-button__option-link' %></li>
    <% if can? :create, Inspection %>
    <li class="option-button__separator"></li>
    <li class="option-button__option"><%= link_to 'New', new_plant_inspection_path(@plant, @inspection), class: 'option-button__option-link' %></li>
    <% if can? :destroy, Inspection %><li class="option-button__option"><%= link_to 'Destroy', plant_inspection_path(@plant, @inspection), class: 'option-button__option-link', method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
    <% end %>
  <% end %>
<% end %>

<h2 class="main__title">Inspection #<%= @inspection.id %></h2>

<h2 class="main__division">General Info</h2>

<div class="view_info">
  <% if (@inspection.on_site_client) %>
  <p class="view_info__data"><%= @inspection.on_site_user.full_name %></p>
  <% else %>
  <p class="view_info__data"><%= @inspection.on_site_client %></p>
  <% end %>
  <p class="view_info__title">Client OnSite</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.report_technician.full_name %></p>
  <p class="view_info__title">Report Technician</p>
</div>

<div class="view_info">
  <ul class="view_info__elements">
    <% @inspection.users.each do |user| %>
    <li class="view_info__element"><%= user.full_name %></li>
    <% end %>
  </ul>
  <p class="view_info__title">Notify to</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.date %></p>
  <p class="view_info__title">Inspection Date</p>
</div>

<h2 class="main__division">Water Quality</h2>

<% @fluents.each do |fluent|%>
<div class="fluent__<%= fluent.output.name.parameterize.underscore %>">
  <h4><%= fluent.output.name %></h4>

  <div class="view_info">
    <p class="view_info__data"><%= fluent.ph %></p>
    <p class="view_info__title">pH</p>
  </div>

  <div class="view_info">
    <p class="view_info__data"><%= fluent.color.option %></p>
    <% if fluent.color_description.present? %>
    <p class="view_info__data-description"><%= fluent.color_description %></p>
    <% end %>
    <p class="view_info__title">Color</p>
  </div>

  <div class="view_info">
    <p class="view_info__data"><%= fluent.odor.option %></p>
    <% if fluent.odor_description.present? %>
    <p class="view_info__data-description"><%= fluent.odor_description %></p>
    <% end %>
    <p class="view_info__title">Odor</p>
  </div>

  <% if fluent.cod.present? %>
  <div class="view_info">
    <p class="view_info__data"><%= fluent.cod %> <span class="view_info__value-type">mg/L</span></p>
    <p class="view_info__title">COD</p>
  </div>
  <% end %>

  <% if fluent.ec.present? %>
  <div class="view_info">
    <p class="view_info__data"><%= fluent.ec %> <span class="view_info__value-type">µS/cm</span></p>
    <p class="view_info__title">EC</p>
  </div>
  <% end %>

  <% if fluent.bod.present? %>
  <div class="view_info">
    <p class="view_info__data"><%= fluent.bod %> <span class="view_info__value-type">mg/L</span></p>
    <p class="view_info__title">BOD</p>
  </div>
  <% end %>

  <% if fluent.tss.present? %>
    <div class="view_info">
      <p class="view_info__data"><%= fluent.tss %> <span class="view_info__value-type">mg/L</span></p>
      <p class="view_info__title">TSS</p>
    </div>
  <% end %>

  <% if fluent.tn.present? %>
  <div class="view_info">
    <p class="view_info__data"><%= fluent.tn %> <span class="view_info__value-type">mg/L</span></p>
    <p class="view_info__title">TN</p>
  </div>
  <% end %>

  <% if fluent.tp.present? %>
  <div class="view_info">
    <p class="view_info__data"><%= fluent.tp %> <span class="view_info__value-type">mg/L</span></p>
    <p class="view_info__title">TP</p>
  </div>
  <% end %>

  <% if fluent.sample_comments.present? %>
  <p>
    <strong>Sample comments:</strong>
    <%= fluent.sample_comments %>
  </p>
  <% end %>
</div>
<% end %>

<h2 class="main__division">Primary Screen</h2>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.screen.option %></p>
  <p class="view_info__title">Screen</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.collection_bin.option %></p>
  <p class="view_info__title">Collection Bin</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.screen_comments %></p>
  <p class="view_info__title">Screen Comments</p>
</div>

<!--
<div class="view_info">
  <p class="view_info__data"></p>
  <p class="view_info__title"></p>
</div>
 -->

<h2 class="main__division">Pumps and Irrigation System</h2>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.noise.option %></p>
  <% if @inspection.pumps_noise_description.present? %>
  <p class="view_info__data-description"><%= @inspection.pumps_noise_description %></p>
  <% end %>
  <p class="view_info__title">Pumps Noise</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.pumps_psi %></p>
  <p class="view_info__title">Pumps PSI</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.sprinklers_pressure.option %></p>
  <p class="view_info__title">Sprinklers Pressure</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.sprinklers_head.option %></p>
  <p class="view_info__title">Sprinklers Head</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.piping.option %></p>
  <p class="view_info__title">Piping</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.pumps_comments %></p>
  <p class="view_info__title">Pumps Comments</p>
</div>

<h2 class="main__division">BIDA System</h2>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.system_surface.option %></p>
  <p class="view_info__title">System Surface</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.bed_compaction.option %></p>
  <p class="view_info__title">Bed Compaction</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.ponding.option %></p>
  <p class="view_info__title">Ponding</p>
</div>

<% if @inspection.bida_comments.present? %>
<div class="view_info">
  <p class="view_info__data"><%= @inspection.bida_comments %></p>
  <p class="view_info__title">Bida Comments</p>
</div>
<% end %>

<h2 class="main__division">General</h2>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.odor.option %></p>
  <% if @inspection.plant_odor_description.present? %>
  <p class="view_info__data-description"><%= @inspection.plant_odor_description %></p>
  <% end %>
  <p class="view_info__title">Odor</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.birds ? 'Yes' : 'No' %></p>
  <p class="view_info__title">Birds</p>
</div>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.fly.option %></p>
  <p class="view_info__title">Fly</p>
</div>

<h2 class="main__division">Summary/Recommendations</h2>

<div class="view_info">
  <p class="view_info__data"><%= @inspection.summary_comments %></p>
  <p class="view_info__title">Summary Comments</p>
</div>
