<%= form_with(model: report, url: [@plant, report], local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field date">
    <%= form.label :date %>
    <%= form.date_select :date, order: [:month, :year], end_year: Date.current.year %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.collection_select(:state, @state, :first, :first, {prompt: 'Select a State'})  %>
  </div>

  <div class="field">
    <%= form.label 'Flow Design:' %>
    <%= report.flow_design %>
  </div>

  <div class="field">
    <%= form.label 'System Size:' %>
    <%= report.system_size.sum %> <%= @plant.metrics.area.pluralize(report.system_size.sum) %>
  </div>

  <div class="field">
    <%= form.label 'Start Up Date:' %>
    <%= @plant.startup_date.strftime("%B #{@plant.startup_date.day.ordinalize}, %Y") %>
  </div>

  <div class="field">
    <%= form.label 'System Purpose:' %>
    <%= report.system_purpose %>
  </div>

  <div class="field">
    <%= form.label 'Report Preface:' %>
    <%= report.report_preface %>
  </div>

  <h3>Graphs</h3>
  <ul>
    <%= form.fields_for :graphs, @graphs do |graph| %>
    <li>
    <%= graph.hidden_field :graph_standard_id %>
    <% current_chart = graph.object.graph_standard.chart %>
    <h4><%= current_chart.name %></h4>
    <% if current_chart.line? %>
      <%#= line_chart %>
    <% elsif current_chart.pie? %>
      <%#= pie_chart %>
    <% elsif current_chart.column? %>
      <%= column_chart @yearly_flow, label: @plant.metrics.volume.pluralize(report.system_size.sum) %>
    <% elsif current_chart.bar? %>
      <%= bar_chart @monthly_flow, height: '800px', label: @plant.metrics.volume.pluralize(report.system_size.sum), max: report.flow_design %>
    <% elsif current_chart.area? %>
      <%#= area_chart %>
    <% elsif current_chart.scatter? %>
      <%#= scatter_chart %>
    <% elsif current_chart.geo? %>
      <%#= geo_chart %>
    <% elsif current_chart.timeline? %>
      <%#= timeline %>
    <% elsif current_chart.datatable? %>
      <% if current_chart.name == 'Monthly Water Analysis Samples' %>
        <%= render 'shared/tables/simple', data: @monthly_water_analysis if @monthly_water_analysis.present? %>
      <% end %>

      <% if current_chart.name == 'Treated Water History' %>
        <%= render 'shared/tables/simple', data: @treated_water if @treated_water.present? %>
      <% end %>

      <% if current_chart.name == 'Lifetime Water Analysis Overview' %>
        <%= render 'shared/tables/borders', data: @lifetime_analysis if @lifetime_analysis.present? %>
      <% end %>

      <% if current_chart.name == '12 Month Water Analysis Data' %>
        <%= render 'shared/tables/striped', data: @year_samplings_analysis if @year_samplings_analysis.present? %>
        <%= line_chart @year_samplings_grouped_by_option %>
      <% end %>
    <% end %>

      <div class="fieldset">
        <%= form.label :comment %>
        <%= graph.text_area :comment %>
      </div>
    </li>
    <% end %>
  </ul>

<div class="actions">
  <%= form.submit class: 'action-btn' %>
</div>

<% end %>
