<% if can? :read, Report %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'Show', plant_report_path(@plant, @report), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Editing Report</h2>

<%= render 'shared/plant_cover', plant: @report.plant %>

<h5><%= @report.date.strftime("%B, %Y") %></h5>

<%= render 'form', report: @report %>
