<% if can? :create, Report %>
  <%= render 'shared/buttons/option_button', alt: 'header' do %>
    <li class="option-button__option"><%= link_to 'New Report', new_plant_report_path(@plant), class: 'option-button__option-link' %></li>
  <% end %>
<% end %>

<h2 class="main__title">Reports</h2>

<% if @reports.present? %>
<%= render 'shared/tables/elements_list', headers: ['State', 'Date', 'Options'] do %>
<% @reports.each do |report| %>
  <tr class="table_main__table-row">
    <td class="table_main__table-data--left-text"><%= report.state %></td>
    <td class="table_main__table-data"><%= report.date.strftime("%B, %Y") %></td>
    <td class="table_main__table-data--options">
      <a href="#" class="table_main__link--options"></a>
      <div class="options_menu">
        <ul class="options_menu__list">
          <% if can? :read, Report %><li class="options_menu__item"><%= link_to 'Show', plant_report_url(@plant, report), class: 'options_menu__link' %></li><% end %>
          <% if can? :edit, Report %><li class="options_menu__item"><%= link_to 'Edit', edit_plant_report_path(@plant, report), class: 'options_menu__link' %></li><% end %>
          <% if can? :destroy, Report %><li class="options_menu__item"><%= link_to 'Destroy', plant_report_path(@plant, report), class: 'options_menu__link', method: :delete, data: { confirm: 'Are you sure?' } %></li><% end %>
        </ul>
        <div class="unclick"></div>
      </div>
  </tr>
<% end %>
<% end %>
<% end %>
