<%= render 'shared/plant_cover', plant: @report.plant %>

<h1>Report</h1>
<h5><%= @report.created_at.strftime("%B, %Y") %></h5>
<br />

<p>
  <strong>State:</strong>
  <%= @report.state %>
</p>

<p>
  <strong>System purpose:</strong>
  <%= @report.system_purpose %>
</p>

<p>
  <strong>Report preface:</strong>
  <%= @report.report_preface %>
</p>

<p>
  <strong>Flow design:</strong>
  <%= @report.flow_design %>
</p>

<p>
  <strong>System size:</strong>
  <%= @report.system_size.sum %> <%= @plant.metrics.volume.pluralize(@report.system_size.sum) %>
</p>

<ul>
  <% @graphs.each do |graph| %>
  <li>
    <% current_chart = graph.graph_standard.chart %>
    <h4><%= current_chart.name %></h4>

    <% if( current_chart.name == 'Monthly Flow' ) %>
    <%= column_chart @yearly_flow, label: @plant.metrics.volume.pluralize(@report.system_size.sum) %>
    <% elsif( current_chart.name == 'Daily Flow' ) %>
    <%= bar_chart @monthly_flow, height: '800px', label: @plant.metrics.volume.pluralize(@report.system_size.sum), max: @report.flow_design %>
    <% elsif( current_chart.name == 'Monthly Water Analysis Samples' ) %>
    <%= render 'shared/tables/simple', data: @monthly_water_analysis if @monthly_water_analysis.present? %>
    <% elsif( current_chart.name == 'Treated Water History' ) %>
    <%= render 'shared/tables/simple', data: @treated_water if @treated_water.present? %>
    <% elsif( current_chart.name == 'Lifetime Water Analysis Overview' ) %>
    <%= render 'shared/tables/borders', data: @lifetime_analysis if @lifetime_analysis.present? %>
    <% elsif( current_chart.name == '12 Month Water Analysis Data' ) %>
    <%= render 'shared/tables/striped', data: @year_samplings_analysis if @year_samplings_analysis.present? %>
    <%= line_chart @year_samplings_grouped_by_option %>
    <% end %>
    <%= graph.comment %>
  </li>
  <% end %>
</ul>

<% if can? :edit, Report %>
<%= link_to 'Edit', edit_plant_report_path(@plant, @report) %>
<% end %>
