<!DOCTYPE html>
<html>
  <head>
    <title>BIDAApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'head/favicon-32x32.png' -%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'head/favicon-16x16.png' -%>">
    <link rel="shortcut icon" href="<%= asset_path 'head/favicon.ico' -%>" />
    <link rel="mask-icon" href="<%= asset_path 'head/worm.svg' -%>" sizes="any" color="#f6c5b4">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>

    <%= render 'shared/layout/svg_sprites' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <% if current_user %>
  <body class="<%= current_user.interface_color + '-ui' %>" data-action="<%= params[:action] %>" data-controller="<%= params[:controller] %>">
  <% else %>
  <body class="light-ui" data-action="<%= params[:action] %>" data-controller="<%= params[:controller] %>">
  <% end %>

    <%= render 'shared/layout/notifications' %>

    <header class="main_header <%= @plant.present? && @plant.high_season ? 'main_header--high-season' : '' %>">
      <div class="main_header__upper">

        <% if user_signed_in? %>
        <nav class="main_nav">
          <a href="#" class="main_nav__hamburger">
            <i class="icon-hamburger"></i>
          </a>
          <ul class="main_nav__list">
            <li class="main_nav__item"><a class="main_nav__link--active" href="#">companies</a></li>
            <li class="main_nav__item"><a class="main_nav__link" href="#">plant</a></li>
            <li class="main_nav__item"><a class="main_nav__link" href="#">users</a></li>
          </ul>
        </nav>
        <% end %>

        <h1 class="header_logo">
          <a class="header_logo__link" href="/"><svg class="header_logo__svg"><use xlink:href="#logo"></use><svg></a>
        </h1>

        <% if user_signed_in? %>
        <%= render 'shared/layout/user_options' %>
        <% end %>
      </div>

      <div class="main_header__lower">
        <%= render 'shared/layout/mobile_nav' %>
        <nav class="desktop_nav"></nav>
      </div>
    </header>
    <main class="main__container">
      <%= yield %>
    </main>
    <footer class="main_footer">
      <div class="main_footer__container">
        <section class="main_footer__left">
          <%= render 'shared/footer/company_n_contact' %>
        </section>
        <section class="main_footer__right">
          <%= render 'shared/footer/flags' %>
        </section>
      </div>

      <div class="container">
        <%= render 'shared/footer/legal' %>
      </div>
    </footer>

    <% if (params[:controller] == 'plants') && (['create', 'new', 'edit'].include? params[:action]) %>
      <%= render 'shared/modal/logbook' %>
    <% end %>

  </body>
  </html>
