<!DOCTYPE html>
<html>
  <head>
    <title>BIDA Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'head/favicon-32x32.png' -%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'head/favicon-16x16.png' -%>">
    <link rel="shortcut icon" href="<%= asset_path 'head/favicon.ico' -%>" />
    <link rel="mask-icon" href="<%= asset_path 'head/worm.svg' -%>" sizes="any" color="#f6c5b4">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>

    <%= render 'shared/layout/svg_sprites' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <% if user_signed_in? %>
  <body class="<%= current_user.interface_color + '-ui' %>" data-action="<%= params[:action] %>" data-controller="<%= params[:controller] %>">
  <% else %>
  <body class="light-ui">
  <% end %>

    <%= render 'shared/layout/notifications' %>

    <header class="main_header <%= @plant.present? && @plant.high_season ? 'main_header--high-season' : '' %>">
      <div class="main_header__upper">

        <% if user_signed_in? %>
        <nav class="main_nav">
          <a href="#" class="main_nav__hamburger">
            <i class="icon-hamburger"></i>
          </a>
          <ul class="main_nav__list">
            <% if can? :read, Company %>
            <li class="main_nav__item <%= 'main_nav__item--active' if @companies %>"><%= link_to t(:companies, scope: [:header, :menu]), companies_path, class: 'main_nav__link' %></li>
            <% end %>

            <% if @user_plants.present? %>
            <% if can? :read, Plant %>
            <li class="main_nav__item <%= 'main_nav__item--active' if @plant %>">
              <% _text = @plant.present? && @plant.persisted? ? @plant.name : t(:plants, scope: [:header, :menu]) %>
              <%= link_to _text, '#', class: 'main_nav__link-dropdown' %>
              <div class="options_menu <%= current_user.admin? || 'right' %>">
                <ul class="main_nav__plants">
                  <% @user_plants.each do |plant| %>
                  <li class="main_nav__plant"><%= link_to plant.name, plant_path(plant), class: 'options_menu__link' %></li>
                  <% end %>
                </ul>
              </div>
            </li>
            <% end %>
            <% end %>

            <% if can? :read, User && (current_user.admin? || current_user.operations_manager? ) %>
            <li class="main_nav__item <%= 'main_nav__item--active' if @users %>"><%= link_to t(:users, scope: [:header, :menu]), users_path, class: 'main_nav__link' %></li>
            <% end %>
          </ul>
        </nav>
        <% end %>

        <h1 class="header_logo">
          <a class="header_logo__link" href="/"><svg class="header_logo__svg"><use xlink:href="#logo"></use><svg></a>
        </h1>

        <% if user_signed_in? %>
        <%= render 'shared/layout/user_options' %>
        <% end %>
      </div>

      <% if user_signed_in? %>
      <div class="main_header__lower">
        <%= render 'shared/layout/mobile_nav' %>
        <% if @plant %>
        <%= render 'shared/layout/desktop_nav', plant: @plant %>
        <% end %>
      </div>
      <% end %>
    </header>
    <main class="main__container">
      <%= yield %>
    </main>
    <footer class="main_footer">
      <div class="main_footer__container">
        <section class="main_footer__left">
          <%= render 'shared/footer/company_n_contact' %>
        </section>
        <section class="main_footer__right">
          <%= render 'shared/footer/flags' %>
        </section>
      </div>

      <div class="container">
        <%= render 'shared/footer/legal' %>
      </div>
    </footer>

    <% if (params[:controller] == 'plants') && (['create', 'new', 'edit'].include? params[:action]) %>
      <%= render 'shared/modal/logbook' %>
    <% end %>

  </body>
  </html>
