<!DOCTYPE html>
<html>
  <head>
    <title>BIDAApp</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user %>
  <body class="<%= current_user.os? ? '' : current_user.interface_color + '_interface' %>">
  <% else %>
  <body>
  <% end %>

    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="/">BIDA App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%# if @user_plants.present? %>
          <% if can? :read, Company %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Companies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'All Companies', companies_path, class: 'dropdown-item' %>
              <% if can? :create, Company %>
              <div class="dropdown-divider"></div>
              <%= link_to 'New Company', new_company_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
          <%# end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if can? :read, Plant %>
              <% @user_plants.each do |plant| %>
              <li class="dropdown-submenu">
              <%= link_to plant.name, plant_path(plant), class: 'dropdown-item dropdown-toggle' %>
                <ul class="dropdown-menu">
                  <li><%= link_to 'View', plant_path(plant), class: 'dropdown-item' %></li>
                  <% if can? :create, Alert %>
                  <div class="dropdown-divider"></div>
                  <!-- <div class="dropdown-options"><span>Options</span></div> -->
                  <li><%#= link_to 'Graphs', edit_plant_graph_standard_path(plant), class: 'dropdown-item' %></li>
                  <% end %>
                </ul>
              </li>
              <% end %>
              <% else %>
              <% @user_plants.each do |plant| %>
              <%= link_to plant.name, plant_path(plant), class: 'dropdown-item' %>
              <% end %>
              <% end %>
              <% if (@plant.present? || (@company && @company.persisted? )) && (can? :create, Plant) %>
              <div class="dropdown-divider"></div>
              <% @company_id = @company || @plant.company %>
              <%= link_to 'New Plant', new_company_plant_path(@company_id), class: 'dropdown-item' %>
              <% end %>
            </ul>
          </li>
          <% end %>

          <% if @plant.present? && @plant.persisted? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tickets</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if can? :read, Alert %>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Alerts</a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Alert History', plant_alerts_path(@plant), class: 'dropdown-item' %></li>
                  <% if can? :create, Alert %>
                  <div class="dropdown-divider"></div>
                  <li><%= link_to 'New Alert', new_plant_alert_path(@plant), class: 'dropdown-item' %></li>
                  <% end %>
                </ul>
              </li>
              <% end %>
              <% if can? :read, Support %>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Supports</a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Support History', plant_supports_path(@plant), class: 'dropdown-item' %></li>
                  <% if can? :create, Support %>
                  <div class="dropdown-divider"></div>
                  <li><%= link_to 'New Support', new_plant_support_path(@plant), class: 'dropdown-item' %></li>
                  <% end %>
                </ul>
              </li>
              <% end %>

              <% if can? :read, Inspection %>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Inspections</a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Inspection History', plant_inspections_path(@plant), class: 'dropdown-item' %></li>
                  <% if can? :create, Inspection %>
                  <div class="dropdown-divider"></div>
                  <li><%= link_to 'New Inspection', new_plant_inspection_path(@plant), class: 'dropdown-item' %></li>
                  <% end %>
                </ul>
              </li>
              <% end %>
            </ul>
          </li>
          <% end %>

          <% if @plant.present? && @plant.persisted? %>
          <% if can? :read, Logbook %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logbooks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Logbook', @logbook_path, class: 'dropdown-item' %>
              <a class="dropdown-item" href="#">Logbooks History</a>
            </div>
          </li>
          <% end %>
          <% if can? :read, Sampling %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Samplings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Lab', @lab_samplings, class: 'dropdown-item' %>
              <%= link_to 'Internal', @internal_samplings, class: 'dropdown-item' %>
              <a class="dropdown-item" href="#">Lab History</a>
              <a class="dropdown-item" href="#">Internal History</a>
            </div>
          </li>
          <% end %>
          <% if can? :read, Report %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reports
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if can? :update, Report %>
              <% if @latest_report.present? %>
              <%= link_to 'Latest Report', plant_report_path(@plant, @latest_report), class: 'dropdown-item' %>
              <% else %>
              <%= link_to 'Latest Report', new_plant_report_path(@plant), class: 'dropdown-item' %>
              <% end %>
              <% end %>
              <%= link_to 'Reports History', plant_reports_path(@plant), class: 'dropdown-item' %>
            </div>
          </li>
          <% end %>
          <% end %>
          <% if can? :read, User %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'All Users', users_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'New User', new_user_path, class: 'dropdown-item' %>
            </div>
          </li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to 'Edit profile', edit_user_path(current_user.id), class: 'dropdown-item' %>
              <%= link_to "Change your password", edit_user_registration_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item'  %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container main">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </div>
  </body>
</html>
